Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

feat(settings): add configurable system notifications
  app/Http/Requests/Admin/UpdateSettingRequest.php
  app/Models/Setting.php
  app/Services/Admin/SettingAdminService.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/SystemNotificationList.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/Home.vue
  resources/js/Pages/Start.vue
  resources/js/Shared/Form/FormInput.vue
  resources/js/Stores/AppStore.js
  tests/Feature/Http/Admin/SettingTest.php
  tests/Feature/Http/Auth/SessionTest.php
  tests/Unit/Http/Requests/Admin/UpdateSettingRequestTest.php
  tests/Unit/Models/SettingTest.php
  tests/Unit/Services/Admin/SettingAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

refactor(settings): drive admin settings from definitions
  app/Http/Controllers/Admin/SettingController.php
  app/Http/Requests/Admin/SettingIdRequest.php
  app/Http/Requests/Admin/SettingKeyRequest.php
  app/Http/Requests/Admin/UpdateSettingRequest.php
  app/Models/Setting.php
  app/Policies/SettingPolicy.php
  app/Services/Admin/SettingAdminService.php
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/Admin/Settings/Index.vue
  routes/web.php
  tests/Feature/Http/Admin/ClosingTest.php
  tests/Feature/Http/Admin/SettingTest.php
  tests/Unit/Http/Controllers/Admin/SettingControllerAuthorizationTest.php
  tests/Unit/Http/Requests/Admin/SettingIdRequestTest.php
  tests/Unit/Http/Requests/Admin/SettingKeyRequestTest.php
  tests/Unit/Http/Requests/Admin/UpdateSettingRequestTest.php
  tests/Unit/Models/SettingTest.php
  tests/Unit/Policies/CorePoliciesTest.php
  tests/Unit/Services/Admin/SettingAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

feat(settings): add global cross-institution app settings
  app/Http/Controllers/Admin/AppSettingController.php
  app/Http/Requests/Admin/UpdateAppSettingRequest.php
  app/Models/AppSetting.php
  app/Services/Http/HomePageDataBuilder.php
  app/Services/Http/InertiaSharedDataBuilder.php
  database/migrations/2026_07_09_130000_create_app_settings_table.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Modals/LoginModal.vue
  resources/js/Layouts/CalendarLayout.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/AppSettings/Edit.vue
  resources/js/Pages/Admin/AppSettings/Index.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Start.vue
  resources/js/Stores/AppStore.js
  routes/web.php
  tests/Feature/Http/Admin/AppSettingTest.php
  tests/Unit/Http/Middleware/HandleInertiaRequestsTest.php
  tests/Unit/Http/Requests/Admin/UpdateAppSettingRequestTest.php
  tests/Unit/Models/AppSettingTest.php
  tests/Unit/Services/Http/InertiaSharedDataBuilderTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

feat(theme): implement class-based dark mode with persisted toggle
  lang/de/accessibility.php
  lang/de/navigation.php
  lang/en/accessibility.php
  lang/en/navigation.php
  resources/js/Components/Sidebar/SidebarBlock.vue
  resources/js/Components/Sidebar/SidebarButton.vue
  resources/js/Components/SystemNotificationList.vue
  resources/js/Composables/Theme.js
  resources/js/Layouts/CalendarLayout.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Shared/Header.vue
  resources/js/Shared/Navigation/NavigationBar.vue
  resources/js/Shared/Navigation/ThemeSwitch.vue
  resources/js/Stores/ThemeStore.js
  resources/js/app.js
  resources/sass/calendar.scss
  resources/sass/main.scss
  resources/views/app.blade.php
  tailwind.config.cjs
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(commitlint): disable body-max-line-length rule
  .commitlintrc.mjs
Due: none

ci: handle dependabot auto-merge failures
  .gitlab-ci.yml
  scripts/dependabot-merge-request.sh
Due: none

fix(admin): correct happening verifier logic
  app/Services/Admin/HappeningAdminService.php
  resources/js/Pages/Admin/Happenings/Form.vue
  resources/js/Pages/Admin/Happenings/verification.test.ts
  resources/js/Pages/Admin/Happenings/verification.ts
  tests/Feature/Http/Admin/HappeningTest.php
  tests/Unit/Services/Admin/HappeningAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

refactor(admin): declare breadcrumb route contracts
  resources/js/Composables/AdminBreadcrumbs.test.ts
  resources/js/Composables/AdminBreadcrumbs.ts
  resources/js/Shared/Navigation/AdminBreadcrumbs.vue
  tests/Browser/AdminBreadcrumbsTest.php
  tests/Unit/Routes/AdminBreadcrumbRouteContractTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(store): register dayjs utc plugin
  resources/js/Stores/AppStore.test.ts
  resources/js/Stores/AppStore.ts
Due: prettier --check, eslint

chore(rector): skip generated bootstrap cache
  rector.php
Due: php -l, vendor/bin/phpcs

refactor(ts): type page props and theme state
  resources/js/Composables/AdminBreadcrumbs.ts
  resources/js/Composables/Theme.ts
  resources/js/Stores/ThemeStore.ts
Due: prettier --check, eslint

refactor(admin): align dashboard and layout structure
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Layouts/AdminLayout.test.ts
  resources/js/Layouts/AdminLayout.vue
  resources/js/Layouts/MainLayout.test.ts
  resources/js/Layouts/MainLayout.vue
Due: prettier --check, eslint, stylelint

refactor(ts): consolidate shared frontend types
  resources/js/Components/Calendar/Calendar.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Composables/AdminBreadcrumbs.ts
  resources/js/Composables/Calendar.ts
  resources/js/Composables/ModalActions.ts
  resources/js/Composables/Reorder.ts
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Stores/AppStore.ts
  resources/js/Stores/HappeningStore.ts
Due: prettier --check, eslint, stylelint

fix(calendar): harden booking form slot behavior
  resources/js/Components/Admin/TranslatableFormInput.test.ts
  resources/js/Components/Admin/TranslatableFormInput.vue
  resources/js/Components/HappeningQuota.test.ts
  resources/js/Components/HappeningQuota.vue
  resources/js/Components/Modals/HappeningForm.test.ts
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Composables/Calendar.test.ts
  resources/js/Composables/Calendar.ts
  resources/js/Pages/TerminalView.test.ts
  resources/js/Pages/TerminalView.vue
Due: prettier --check, eslint, stylelint

feat(admin): add admin breadcrumbs
  .gitignore
  .gitlab-ci.yml
  app/Services/Admin/ClosingAdminService.php
  app/Services/Admin/MailAdminService.php
  app/Services/Admin/ResourceAdminService.php
  app/Services/Admin/SettingAdminService.php
  lang/de/admin.php
  lang/en/admin.php
  package-lock.json
  package.json
  resources/js/Composables/AdminBreadcrumbs.js
  resources/js/Composables/AdminBreadcrumbs.test.ts
  resources/js/Layouts/AdminLayout.test.ts
  resources/js/Layouts/AdminLayout.vue
  resources/js/Shared/Navigation/AdminBreadcrumbs.test.ts
  resources/js/Shared/Navigation/AdminBreadcrumbs.vue
  resources/js/app.js
  resources/js/env.d.ts
  tests/Unit/Services/Admin/ClosingAdminServiceTest.php
  tests/Unit/Services/Admin/MailAdminServiceTest.php
  tests/Unit/Services/Admin/ResourceAdminServiceTest.php
  tests/Unit/Services/Admin/SettingAdminServiceTest.php
  tsconfig.json
  vitest.config.ts
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

build(frontend): migrate build tooling to TypeScript
  .commitlintrc.mjs
  .dockerignore
  .gitlab-ci.yml
  commitlint.config.ts
  eslint.config.ts
  package-lock.json
  package.json
  postcss.config.cjs
  postcss.config.ts
  resources/js/app.ts
  resources/js/baseUrl.ts
  resources/js/bootstrap.ts
  resources/js/echo.ts
  resources/js/env.d.ts
  resources/js/stripEmpty.ts
  resources/js/ziggyRoute.ts
  resources/views/app.blade.php
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: prettier --check, eslint, php -l, vendor/bin/phpcs

chore(dev): add process-compose runner
  flake.nix
  process-compose.yaml
Due: none

chore(compose): remove watch setup
  compose.yaml
Due: none

docs(deployment): add sample proxy and systemd configs
  README.md
  deployment/apache.conf
  deployment/nginx.conf
  deployment/systemd/roomz-queue.service
  deployment/systemd/roomz-reverb.service
  deployment/systemd/roomz-scheduler.service
Due: none

fix: authenticate admin calendar user API via session
  routes/api.php
  tests/Feature/Http/Admin/UserTest.php
  tests/Unit/Providers/RouteServiceProviderTest.php
Due: php -l, vendor/bin/phpcs

chore(husky): drop phpstan from pre-commit hook
  .husky/pre-commit
Due: none

ci: decouple deploy jobs from prior stage failures
  .gitlab-ci.yml
Due: none

feat(calendar): add button to jump to today
  lang/de/calendar.php
  lang/en/calendar.php
  resources/js/Components/Calendar/Calendar.test.ts
  resources/js/Components/Calendar/Calendar.vue
  tests/Browser/PublicCalendarNavigationTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(deps): upgrade laravel/framework to ^12.0
  composer.json
  composer.lock
Due: none

refactor(models): adopt Laravel 12 #[Scope] attribute for local scopes
  app/Models/Happening.php
  app/Models/Institution.php
  app/Models/Resource.php
  app/Models/ResourceGroup.php
  rector.php
Due: php -l, vendor/bin/phpcs

fix(models): keep UUIDv4 ids after upgrading to Laravel 12
  app/Models/BusinessHour.php
  app/Models/Closing.php
  app/Models/Happening.php
  app/Models/Institution.php
  app/Models/MailContent.php
  app/Models/Permission.php
  app/Models/PermissionGroup.php
  app/Models/Resource.php
  app/Models/ResourceGroup.php
  app/Models/Role.php
  app/Models/Setting.php
  app/Models/User.php
  app/Models/UserGroup.php
Due: php -l, vendor/bin/phpcs

fix(admin): copy raw attributes when cloning business hours
  app/Services/Admin/ResourceAdminService.php
Due: php -l, vendor/bin/phpcs

chore(deps): upgrade laravel/framework to ^13.0
  composer.json
  composer.lock
Due: none

fix(security): rename CSRF middleware to PreventRequestForgery
  app/Http/Kernel.php
  config/sanctum.php
Due: php -l, vendor/bin/phpcs

fix(cache): store a scalar for user activity instead of a Carbon instance
  app/Services/Http/UserActivityRecorder.php
Due: php -l, vendor/bin/phpcs

refactor: adopt Laravel 13 attribute-based model and command properties
  app/Console/Commands/AnonymizeHappeningUsersCommand.php
  app/Console/Commands/CreateInstitutionCommand.php
  app/Console/Commands/CreateUserGroup.php
  app/Console/Commands/ImportUsers.php
  app/Console/Commands/RemoveUnverifiedHappeningsCommand.php
  app/Console/Commands/RemoveUsersCommand.php
  app/Console/Commands/RestrictResourceGroup.php
  app/Models/AppSetting.php
  app/Models/BusinessHour.php
  app/Models/Closing.php
  app/Models/Happening.php
  app/Models/Institution.php
  app/Models/MailContent.php
  app/Models/MailType.php
  app/Models/Permission.php
  app/Models/PermissionGroup.php
  app/Models/Resource.php
  app/Models/ResourceGroup.php
  app/Models/Role.php
  app/Models/Setting.php
  app/Models/User.php
  app/Models/UserGroup.php
  app/Models/UserGroupUser.php
  app/Models/WeekDay.php
  rector.php
  tests/Unit/Http/Requests/Admin/AdminRouteRequestTest.php
Due: php -l, vendor/bin/phpcs

style: add strict_types and closure return types flagged by rector
  config/view.php
  routes/web.php
  tests/Unit/Http/Middleware/CacheUserActivityTest.php
  tests/Unit/Http/Middleware/HandleInertiaRequestsTest.php
  tests/Unit/Http/Middleware/LocalizationTest.php
  tests/Unit/Http/Middleware/PreventRequestsDuringMaintenanceTest.php
  tests/Unit/Http/Middleware/RedirectIfAuthenticatedTest.php
  tests/Unit/Http/Middleware/TrimStringsTest.php
  tests/Unit/Http/Middleware/TrustProxiesTest.php
  tests/Unit/Http/Middleware/ValidateSignatureTest.php
  tests/Unit/Http/PublicSessionMiddlewareTest.php
Due: php -l, vendor/bin/phpcs

feat(admin): add full user impersonation via "View as"
  .gitlab-ci.yml
  app/Http/Controllers/Admin/ImpersonationController.php
  app/Http/Requests/Admin/ImpersonateUserRequest.php
  app/Policies/UserPolicy.php
  app/Services/Http/CurrentUserStatusBuilder.php
  lang/de/admin.php
  lang/de/impersonation.php
  lang/de/popup.php
  lang/en/admin.php
  lang/en/impersonation.php
  lang/en/popup.php
  resources/js/Components/Admin/Index/ImpersonateLink.test.ts
  resources/js/Components/Admin/Index/ImpersonateLink.vue
  resources/js/Pages/Admin/Users/Index.vue
  resources/js/Shared/Header.test.ts
  resources/js/Shared/Header.vue
  resources/js/Stores/AuthStore.test.ts
  resources/js/Stores/AuthStore.ts
  routes/web.php
  tests/Feature/Http/Admin/ImpersonationTest.php
  tests/Unit/Http/Requests/Admin/ImpersonateUserRequestTest.php
  tests/Unit/Policies/UserPolicyTest.php
  tests/Unit/Services/Http/CurrentUserStatusBuilderTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

test: increase browser test timeout
  tests/Pest.php
Due: php -l, vendor/bin/phpcs

perf(admin): paginate happenings index table
  resources/js/Pages/Admin/Happenings/Index.vue
Due: prettier --check, eslint, stylelint

perf(admin): speed up user index for large user counts
  app/Models/User.php
  app/Services/Admin/UserAdminService.php
  resources/js/Pages/Admin/Users/Index.vue
  tests/Unit/Services/Admin/UserAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore: remove unused tailwindcss-primeui
  package-lock.json
  package.json
  tailwind.config.ts
  tailwindcss-primeui.d.ts
Due: prettier --check, eslint

Path conditions:
  prettier --check: any of: *.{css,js,scss,ts,vue}
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
  php -l: any of: *.php
  vendor/bin/phpcs: any of: *.php
  renovate-config-validator --strict: any of: renovate.json
