Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

.lintstagedrc.yml:

"*.css":
  - "stylelint"

"*.js":
  - "eslint"

"*.scss":
  - "stylelint"

"*.ts":
  - "eslint"

"*.vue":
  - "eslint"
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs --ignore=*.blade.php"

[#375] Add SelectLongPressDelay for mobile devices
  resources/js/Composables/Calendar.js
Due: eslint

[#389] Set selectLongPressDelay to 1000ms
  resources/js/Composables/Calendar.js
Due: eslint

[#391] Reduce longPressDelay to 500ms
  resources/js/Composables/Calendar.js
Due: eslint

[#392] Make longPressDelay configurable via environment variable
  .env.example
  resources/js/Composables/Calendar.js
Due: eslint

[#395] Initialize settings to default values for new resource groups
  app/Http/Controllers/Admin/ResourceGroupController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#142] Log actions in admin UI
  app/Http/Controllers/Admin/ClosingController.php
  app/Http/Controllers/Admin/HappeningController.php
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/MailController.php
  app/Http/Controllers/Admin/PermissionController.php
  app/Http/Controllers/Admin/PermissionGroupController.php
  app/Http/Controllers/Admin/ResourceController.php
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Http/Controllers/Admin/RoleController.php
  app/Http/Controllers/Admin/SettingController.php
  app/Http/Controllers/Admin/UserController.php
  app/Services/AdminLoggingService.php
  config/logging.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#396] Add laravel pulse
  app/Providers/AuthServiceProvider.php
  composer.json
  composer.lock
  config/pulse.php
  database/migrations/2023_06_07_000001_create_pulse_tables.php
  resources/views/vendor/pulse/dashboard.blade.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#402] Filter out past happenings on the server for admin view
  app/Http/Controllers/Admin/HappeningController.php
  resources/js/Pages/Admin/Happenings/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#403] Reduce data fetched by user index view in admin UI
  app/Http/Controllers/Admin/UserController.php
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[MAINTENANCE] npm audit fix
  package-lock.json
Due: none

[CHORE] Correct typo
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#358] Data tables for admin index views
  app/Http/Controllers/Admin/HappeningController.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Admin/Paginator.vue
  resources/js/Components/Admin/SortDirectionIcon.vue
  resources/js/Components/Admin/TableHeader.vue
  resources/js/Composables/Paginate.js
  resources/js/Composables/SortFilterTable.js
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#405] Fix down function for user table migration
  database/migrations/2019_10_07_100210_alter_user_table_fields.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#397] Link help page in menu on start page
  resources/js/Shared/Navigation/SplashNavigation.vue
Due: stylelint, eslint

[CHORE] Formatting
  resources/js/Components/Calendar.vue
  resources/js/Composables/Calendar.js
Due: stylelint, eslint

[#407] Use icons for action buttons in admin UI
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Components/Admin/Index/CreateLink.vue
  resources/js/Components/Admin/Index/LinkGroup.vue
  resources/js/Components/Admin/Index/PopupLink.vue
  resources/js/Components/Admin/Index/RelationLink.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/Settings/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint

[#408] Use XModal component in admin UI
  resources/js/Components/Admin/Index/DeleteLink.vue
  resources/js/Components/Modals/ConfirmModal.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/PermissionGroups/Index.vue
  resources/js/Pages/Admin/Permissions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
  resources/js/Pages/Home.vue
  resources/js/Pages/Start.vue
  resources/js/Shared/PopupModal.vue
  resources/js/Shared/XModal.vue
Due: stylelint, eslint

[CHORE] Formatting
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Home.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#137] Add temporary user bans
  app/Console/Kernel.php
  app/Http/Controllers/Admin/UserController.php
  app/Models/User.php
  app/Policies/HappeningPolicy.php
  app/Policies/UserPolicy.php
  composer.json
  composer.lock
  database/migrations/2017_03_04_000000_create_bans_table.php
  database/migrations/2024_01_09_113547_add_banned_at_to_users_table.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Composables/SortFilterTable.js
  resources/js/Pages/Admin/Users/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Refactor appStore.translate
  resources/js/Stores/AppStore.js
Due: eslint

[CHORE] Refactor UserController
  app/Http/Controllers/UserController.php
  app/Models/Happening.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Formatting
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Stores/AppStore.js
  resources/js/Stores/HappeningStore.js
Due: stylelint, eslint

[#141] Add labels for happenings
  app/Events/HappeningBroadcastEvent.php
  app/Http/Controllers/Admin/HappeningController.php
  app/Http/Controllers/HappeningController.php
  app/Http/Controllers/UserController.php
  app/Http/Requests/AddHappeningRequest.php
  app/Http/Requests/Admin/HappeningRequest.php
  app/Http/Requests/UpdateHappeningRequest.php
  app/Models/Happening.php
  database/migrations/2023_12_01_111044_add_label_to_happenings_table.php
  lang/de/admin.php
  lang/de/modal.php
  lang/en/admin.php
  lang/en/modal.php
  resources/js/Components/Calendar.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/UserHappening.vue
  resources/js/Composables/Calendar.js
  resources/js/Pages/Admin/Happenings/Form.vue
  resources/js/Pages/Admin/Happenings/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Refactor getHappenings
  app/Http/Controllers/HappeningController.php
  app/Models/Happening.php
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#409] Fix quotas in frontend
  resources/js/Stores/AuthStore.js
Due: eslint

[#411] Add policy to create users
  app/Http/Requests/Admin/UserRequest.php
  app/Policies/UserPolicy.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#412] Show only active resource groups on start page
  app/Http/Controllers/HomeController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#413] Show only institutions with active resource groups on start page
  app/Http/Controllers/HomeController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#414] Seeders should not create duplicate data when run multiple times
  .env.example
  config/roomz.php
  database/seeders/ActiveDaySeeder.php
  database/seeders/BusinessHourSeeder.php
  database/seeders/InstitutionSeeder.php
  database/seeders/MailContentSeeder.php
  database/seeders/MailTypeSeeder.php
  database/seeders/PermissionSeeder.php
  database/seeders/SettingSeeder.php
  database/seeders/WeekDaySeeder.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#415] Add setting to enable happening labels
  .env.example
  app/Models/Setting.php
  config/roomz.php
  resources/js/Components/Modals/HappeningForm.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#416] Add translations for happening label setting
  lang/de/admin.php
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#417] Clear setting description translations
  lang/de/admin.php
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#416] Fix check of happening label setting in frontend
  resources/js/Components/Modals/HappeningForm.vue
Due: stylelint, eslint

[#418] Fix institution seeder for example institution
  database/seeders/InstitutionSeeder.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#419] Fix spelling mistake in 'is_label_enabled' setting
  lang/de/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Remove useless setting hints
  lang/de/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#415] Add description for label setting
  lang/de/admin.php
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#415] Fix label setting in example env
  .env.example
Due: none

[CHORE] Configure phpunit
  .gitignore
  database/migrations/2023_06_07_000001_create_pulse_tables.php
  phpunit.xml
  tests/Feature/ExampleTest.php
  tests/Unit/ExampleTest.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#378] Add ip access restriction for institutions
  .env.example
  app/Http/Controllers/HomeController.php
  app/Library/IpChecker.php
  app/Models/Setting.php
  config/roomz.php
  lang/de/admin.php
  lang/en/admin.php
  tests/Unit/IpCheckerTest.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php
