Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

.lintstagedrc.yml:

"*.css":
  - "stylelint"

"*.js":
  - "eslint"

"*.scss":
  - "stylelint"

"*.ts":
  - "eslint"

"*.vue":
  - "eslint"
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs --ignore=*.blade.php"

feat: scope business hours by date
  app/Http/Controllers/Admin/ResourceController.php
  app/Http/Controllers/ResourceController.php
  app/Http/Requests/Admin/ResourceRequest.php
  app/Models/BusinessHour.php
  app/Models/Happening.php
  app/Models/Resource.php
  database/migrations/2024_06_11_121904_add_dates_to_business_hours_table.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Admin/BusinessHourField.vue
  resources/js/Components/Calendar.vue
  resources/js/Composables/Calendar.js
  resources/js/Pages/Admin/Resources/Form.vue
  resources/js/Pages/Admin/Resources/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

chore(deps): update laravel pulse
  composer.lock
Due: none

chore(deps): update ziggy
  composer.json
  composer.lock
  resources/js/app.js
  vite.config.js
Due: eslint

fix: return null-indexed user happenings array
  app/Http/Controllers/UserController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

chore: add commitlint pre-push hook
  .husky/pre-push
Due: none

fix: don't fail pre-push hook on first push
  .husky/pre-push
Due: none

Tests #1
  app/Http/Controllers/Admin/AdminController.php
  package-lock.json
  package.json
  resources/js/Pages/Admin/VuesticDashboard.vue
  resources/js/admin.js
  resources/views/admin.blade.php
  resources/views/emails/markdown/mail.blade.php
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: open login modal when clicking unauthenticated on calendar
  resources/js/Composables/Calendar.js
  resources/js/Composables/ModalActions.js
Due: eslint

feat: configure secret detection in gitlab ci
  .gitlab-ci.yml
Due: none

feat(authentication): add config key for login name normalization
  .env.example
  app/Auth/AlmaUserProvider.php
  app/Http/Controllers/HappeningController.php
  app/Http/Requests/AddHappeningRequest.php
  app/Library/Utility.php
  app/Models/Happening.php
  config/roomz.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

chore(deps): update composer dependencies
  composer.lock
Due: none

chore(deps): update vue
  package-lock.json
  package.json
  resources/js/Components/Modals/LoginModal.vue
Due: stylelint, eslint

chore(deps): remove unused dependencies
  package-lock.json
  package.json
Due: none

chore(deps): update phpunit
  composer.json
  composer.lock
Due: none

chore(deps): update fullcalendar
  package-lock.json
  package.json
  resources/js/Components/Calendar.vue
  resources/js/Pages/TerminalView.vue
Due: stylelint, eslint

chore(deps): update npm dependencies
  package-lock.json
Due: none

chore(deps): update flowbite
  package-lock.json
  package.json
Due: none

chore(deps): update vite
  package-lock.json
  package.json
  postcss.config.cjs
  tailwind.config.cjs
  vite.config.mjs
Due: none

fix: disable system user button in admin user form
  resources/js/Pages/Admin/Users/Form.vue
Due: stylelint, eslint

refactor: remove unused variable in user form
  resources/js/Pages/Admin/Users/Form.vue
Due: stylelint, eslint

style: fix formatting in user form
  resources/js/Pages/Admin/Users/Form.vue
Due: stylelint, eslint

feat: remove stats page (for now)
  app/Http/Controllers/Admin/StatisticController.php
  package-lock.json
  package.json
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/Stats.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix(docker): exempt cjs and mjs files in dockerignore
  .dockerignore
Due: none

ci: add commitlint
  .gitlab-ci.yml
Due: none

ci: run docker compose build
  .gitlab-ci.yml
Due: none

ci: run commitlint only for merge requests
  .gitlab-ci.yml
Due: none

docs: update readme
  README.md
Due: none

chore!: add license
  LICENSE
Due: none

chore: remove color-hex-case rule from stylelint
  .stylelintrc.json
Due: none

chore: add default values for config options
  config/app.php
  config/broadcasting.php
  config/database.php
  config/mail.php
  config/reverb.php
  config/session.php
  resources/js/Composables/Calendar.js
  resources/js/Stores/AppStore.js
  resources/js/echo.js
Due: eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

chore(compose): add healthchecks
  docker-compose.yml
Due: none

chore(compose): add default values
  .docker/caddy/Caddyfile
  docker-compose.yml
Due: none

style(WeekDaySeeder): specify array key
  database/seeders/WeekDaySeeder.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

style: fix formatting
  resources/js/echo.js
Due: eslint

style: fix casing in dockerfile
  Dockerfile
Due: none

chore(compose): use secrets for dotenv file
  docker-compose.yml
Due: none

chore(compose): split caddyfile
  .docker/caddy/Caddyfile
  .docker/caddy/Caddyfile.http
  .docker/caddy/Caddyfile.https
  docker-compose.yml
Due: none

fix(docker): add intl extension in php containers
  Dockerfile
Due: none

chore(compose): add watch for php containers
  docker-compose.yml
Due: none

fix(compose): use local certificates for testing
  .docker/caddy/Caddyfile
Due: none
