Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

.lintstagedrc.yml:

"*.{css,js,scss,ts,vue}":
  - "prettier --check"

"*.{js,ts,vue}":
  - "eslint"

"*.{css,scss,vue}":
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs"

"renovate.json":
  - renovate-config-validator --strict

ci: rebase flake.lock update branch
  .github/workflows/dependabot-rebase.yml
Due: none

test(js): resolve ziggy-js to its vendored package
  vitest.config.ts
Due: prettier --check, eslint

test(admin): stub the search field of the index pages
  resources/js/Pages/Admin/IndexPermissions.test.ts
Due: prettier --check, eslint

ci: provide Composer dependencies to Vitest
  .gitlab-ci.yml
Due: none

test(js): fail on unexpected stderr output
  vitest.config.ts
Due: prettier --check, eslint

ci: let Actions rebase flake lock updates
  .github/workflows/dependabot-rebase.yml
Due: none

ci: reuse frontend Ziggy artifact in Vitest
  .gitlab-ci.yml
Due: none

refactor(ci): split the pipeline into one file per stage
  .gitlab-ci.yml
  .gitlab/ci/automation.yml
  .gitlab/ci/deploy.yml
  .gitlab/ci/image.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/test.yml
Due: none

ci: carry the PHPStan, Pint and Rector caches between pipelines
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
  phpstan.neon
  rector.php
Due: php -l, vendor/bin/phpcs

ci: install dependencies only where the cache has to be refilled
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
  .gitlab/ci/test.yml
Due: none

ci: let the checks that read no dependencies start right away
  .gitlab/ci/lint.yml
Due: none

ci: run the path-independent checks only where their inputs change
  .gitlab/ci/lint.yml
  .gitlab/ci/test.yml
Due: none

ci: run the whole pipeline locally against images built from the flake
  .gitignore
  .gitlab-ci-local.yml
  .gitlab-ci.yml
  .gitlab/ci/lint.yml
Due: none

ci: import the database into a branch's review deployment
  .gitlab-ci.yml
  .gitlab/ci/deploy.yml
  review/README.md
  review/tests/test-db-import.sh
  scripts/db-import.sh
Due: none

feat(admin): name the bookings cleanup took out of the statistics period
  app/Http/Controllers/Admin/StatisticsController.php
  app/Services/Admin/StatisticsAdminService.php
  app/Services/Admin/StatisticsCancellationCalculator.php
  app/Services/Admin/StatisticsRetentionResolver.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Statistics/Index.test.ts
  resources/js/Pages/Admin/Statistics/Index.vue
  resources/js/Types/Admin.ts
  tests/Feature/Http/Admin/StatisticsTest.php
  tests/Unit/Services/Admin/StatisticsCancellationCalculatorTest.php
  tests/Unit/Services/Admin/StatisticsRetentionResolverTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(admin): show every period of the selected statistics range
  app/Services/Admin/StatisticsHappeningQuery.php
  app/Services/Admin/StatisticsTimeSeriesBuilder.php
  tests/Unit/Services/Admin/StatisticsHappeningQueryTest.php
  tests/Unit/Services/Admin/StatisticsTimeSeriesBuilderTest.php
Due: php -l, vendor/bin/phpcs

feat(admin): scroll the bookings over time charts
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Statistics/Index.test.ts
Due: prettier --check, eslint, stylelint

fix(admin): store admin happenings as the wall clock they were entered as
  app/Http/Requests/Admin/HappeningRequest.php
  tests/Unit/Http/Requests/Admin/HappeningRequestTest.php
Due: php -l, vendor/bin/phpcs

chore(lint): reject datetime serializations that convert a timezone
  composer.json
  phpstan.neon
  rector.php
  tools/PHPStan/NoZoneConvertingDateSerializationRule.php
Due: php -l, vendor/bin/phpcs

test(time): pin the wall clock an admin booking is stored as
  tests/Feature/Http/Admin/HappeningTest.php
  tests/Unit/Config/WallClockConventionTest.php
Due: php -l, vendor/bin/phpcs

ci: key the Composer cache on composer.json as well as the lock
  .gitlab-ci.yml
Due: none

test(happenings): book the reservation validator at a fixed wall clock
  tests/Unit/Services/Happenings/ValidateHappeningReservationTest.php
Due: php -l, vendor/bin/phpcs

ci: route Docker Hub pulls through dependency proxy
  .gitlab-ci.yml
Due: none

chore(deps): enable Renovate dependency dashboard
  renovate.json
Due: renovate-config-validator --strict
