Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

.lintstagedrc.yml:

"*.{css,js,scss,ts,vue}":
  - "prettier --check"

"*.{js,ts,vue}":
  - "eslint"

"*.{css,scss,vue}":
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs"

"renovate.json":
  - renovate-config-validator --strict

fix(deps): update composer dependencies
  composer.json
  composer.lock
Due: none

fix(deps): run npm audit fix --force
  package-lock.json
  package.json
Due: none

chore(ci): pin container images
  .docker/testing-extends.yml
  .gitlab-ci.yml
  Dockerfile
  compose.yaml
Due: none

chore(renovate): automate docker image updates
  renovate.json
Due: renovate-config-validator --strict

fix(ci): skip optional docker login in dusk
  .gitlab-ci.yml
Due: none

feat(ci): support GitLab dependency proxy
  .docker/testing-extends.yml
  .gitlab-ci.yml
  Dockerfile
  compose.yaml
Due: none

chore(ci): target docker 29 and node 22
  .gitlab-ci.yml
  Dockerfile
Due: none

fix(ci): alias dind service for dependency proxy
  .gitlab-ci.yml
Due: none

fix(admin): enforce scoped group authorization
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Http/Controllers/Admin/UserGroupController.php
  app/Http/Requests/Admin/ResourceGroupRequest.php
  app/Http/Requests/Admin/StoreUserGroupRequest.php
  app/Http/Requests/Admin/UpdateUserGroupRequest.php
  app/Policies/ResourceGroupPolicy.php
  app/Policies/UserGroupPolicy.php
Due: php -l, vendor/bin/phpcs

fix(auth): harden auth flow and login throttling
  app/Auth/AlmaUserProvider.php
  app/Http/Controllers/LoginController.php
  app/Providers/AuthServiceProvider.php
  app/Providers/RouteServiceProvider.php
  routes/web.php
Due: php -l, vendor/bin/phpcs

fix(frontend): escape calendar resource titles
  resources/js/Composables/Calendar.js
Due: prettier --check, eslint

test(browser): add stable UI selectors
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/UserHappening/UserHappeningActions.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Composables/ModalActions.js
  resources/js/Pages/Start.vue
  resources/js/Shared/XModal.vue
  resources/js/Stores/Modal.ts
Due: prettier --check, eslint, stylelint

refactor(container): drop legacy test compose setup
  .docker/caddy/Caddyfile
  .docker/frankenphp/Caddyfile.http
  .docker/frankenphp/Caddyfile.https
  .docker/php-fpm/php-fpm.conf
  .docker/testing-extends.yml
  Dockerfile
  compose.testing.yaml
  compose.yaml
Due: none

fix(frontend): centralize modal mounting
  resources/js/Layouts/CalendarLayout.vue
  resources/js/Pages/Admin/UserGroups/Users.vue
  resources/js/Pages/Home.vue
  resources/js/Pages/Start.vue
Due: prettier --check, eslint, stylelint

feat(dev): replace devenv with plain Nix flake
  .envrc
  devenv.lock
  devenv.nix
  flake.lock
  flake.nix
Due: none

fix(frontend): use runtime base URLs
  resources/js/Components/Calendar/Calendar.vue
  resources/js/Composables/Calendar.js
  resources/js/Layouts/CalendarLayout.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Shared/Spinner.vue
  resources/js/Stores/AppStore.js
  resources/js/Stores/AuthStore.js
  resources/js/Stores/HappeningStore.js
  resources/js/baseUrl.js
  resources/js/echo.js
Due: prettier --check, eslint, stylelint

build(vite): split vendor chunks and silence size warning
  vite.config.mjs
Due: none

chore(frontend): remove calendar debug log
  resources/js/Composables/Calendar.js
Due: prettier --check, eslint

chore(lint): modernize lint tooling
  .eslintrc.json
  .gitlab-ci.yml
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.yml
  .stylelintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Stores/AuthStore.js
Due: prettier --check, eslint, stylelint

fix: correct admin resource group navigation links
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
Due: prettier --check, eslint, stylelint

fix: move is_admin bypass from Gate::after to Gate::before
  app/Providers/AuthServiceProvider.php
  tests/Unit/Providers/AuthServiceProviderTest.php
Due: php -l, vendor/bin/phpcs

chore(docker): add healthchecks and service startup ordering
  compose.yaml
Due: none

test: add regression tests for Carbon array crash
  tests/Unit/Http/Requests/ResourceTimeSlotsRequestTest.php
Due: php -l, vendor/bin/phpcs

fix: add missing EN translation keys
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs

fix: sync lang files — remove stale/empty keys, add missing EN validation rules
  lang/de/admin.php
  lang/en/admin.php
  lang/en/validation.php
  tests/Unit/LangConsistencyTest.php
Due: php -l, vendor/bin/phpcs

fix: fall back to other locale when a translation value is an empty string
  resources/js/Stores/AppStore.js
  resources/js/app.js
Due: prettier --check, eslint

fix: allow admins to book happenings in restricted resource groups
  app/Models/ResourceGroup.php
  tests/Unit/Models/ResourceGroupTest.php
Due: php -l, vendor/bin/phpcs

fix: reject ALMA login when account has no email address
  app/Auth/AlmaUserProvider.php
  app/Exceptions/AlmaNoEmailException.php
  app/Http/Controllers/LoginController.php
  lang/de/auth.php
  lang/en/auth.php
  tests/Unit/Auth/AlmaUserProviderTest.php
Due: php -l, vendor/bin/phpcs

fix: allow admins to delete running happenings from the calendar UI
  app/Policies/HappeningPolicy.php
  tests/Unit/Policies/HappeningPolicyTest.php
Due: php -l, vendor/bin/phpcs

fix: allow admins to edit and delete running happenings from the calendar UI
  app/Policies/HappeningPolicy.php
  tests/Unit/Policies/HappeningPolicyTest.php
Due: php -l, vendor/bin/phpcs

feat: add user groups column to admin user index
  app/Services/Admin/UserAdminService.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Users/Index.vue
  tests/Unit/Services/Admin/UserAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix: restore missing user group actions
  resources/js/Pages/Admin/UserGroups/Index.vue
Due: prettier --check, eslint, stylelint

chore: add lang and resources to docker compose watch
  compose.yaml
Due: none

feat: allow admin actions in calendar view
  app/Http/Controllers/HappeningController.php
  app/Http/Requests/AddHappeningRequest.php
  app/Providers/AuthServiceProvider.php
  app/Services/Happenings/CalendarEntryPresenter.php
  lang/de/modal.php
  lang/en/modal.php
  resources/js/Components/Calendar/Calendar.vue
  resources/js/Components/HappeningInfo.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Composables/Calendar.js
  routes/api.php
  tests/Feature/Http/Admin/UserTest.php
  tests/Feature/Http/Public/HappeningTest.php
  tests/Unit/Http/Admin/UserControllerTest.php
  tests/Unit/Http/Controllers/HappeningControllerTest.php
  tests/Unit/Http/PublicHappeningControllerTest.php
  tests/Unit/Http/Requests/AddHappeningRequestTest.php
  tests/Unit/Providers/RouteServiceProviderTest.php
  tests/Unit/Services/Happenings/CalendarEntryPresenterTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

feat: add notify users flag to closings
  app/Http/Requests/Admin/StoreClosingRequest.php
  app/Http/Requests/Admin/UpdateClosingRequest.php
  app/Models/Closing.php
  app/Services/Closings/ClosingEventDispatcher.php
  database/factories/ClosingFactory.php
  database/migrations/2026_07_09_120000_add_notify_users_to_closings_table.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Closings/Form.vue
  tests/Feature/Http/Admin/ClosingTest.php
  tests/Unit/Http/Requests/Admin/AdminRequestValidationTest.php
  tests/Unit/Http/Requests/Admin/StoreClosingRequestTest.php
  tests/Unit/Http/Requests/Admin/UpdateClosingRequestTest.php
  tests/Unit/Models/ClosingTest.php
  tests/Unit/Services/Closings/ClosingEventDispatcherTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs
