Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs

[#313] Fetch app name from backend
  app/Http/Controllers/HomeController.php
  resources/js/Pages/Start.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#314] Update config: optional test accounts and streamlining default values
  .env.example
  app/Auth/AlmaUserProvider.php
  config/roomz.php
Due: php -l, vendor/bin/phpcs

[#316] Fix TypeError in UniqueResourceGroupAttributeRule when creating resource group
  app/Rules/UniqueResourceGroupAttributeRule.php
Due: php -l, vendor/bin/phpcs

[#317] Allow 24:00 as end time for business hours
  app/Http/Requests/Admin/ResourceRequest.php
Due: php -l, vendor/bin/phpcs

[#318] Convert midnight times of business hours
  app/Http/Controllers/Admin/ResourceController.php
Due: php -l, vendor/bin/phpcs

[#319] Only delete unverified happenings when verification is required
  app/Console/Commands/RemoveUnverifiedHappeningsCommand.php
Due: php -l, vendor/bin/phpcs

[MAINTENANCE] npm audit fix
  package-lock.json
Due: none

[#315] Remove redundant log messages
  .env.example
  app/Http/Controllers/HappeningController.php
  app/Library/Utility.php
  config/roomz.php
Due: php -l, vendor/bin/phpcs

[README] Updated README
  README.md
Due: none

[#322] Don't queue broadcasts
  app/Events/HappeningBroadcastEvent.php
  app/Events/HappeningsChangedEvent.php
Due: php -l, vendor/bin/phpcs

[#324] Fix mail text keys in plain text emails
  resources/views/emails/markdown/_closing.blade.php
  resources/views/emails/text/_closing.blade.php
  resources/views/emails/text/_happening.blade.php
Due: php -l, vendor/bin/phpcs

[MAINTENANCE] Ignore blade files in pre-commit hook
  .lintstagedrc.yml
Due: none

[MAINTENANCE] Exclude blade files from phpcs
  .lintstagedrc.yml
  .phpcs.xml
Due: none

[#324] Revisiting plain text emails
  resources/views/emails/text/_closing.blade.php
  resources/views/emails/text/mail.blade.php
Due: php -l, vendor/bin/phpcs

[#323] Use redis as queue driver
  .env.example
Due: none

[#327] Allow access to telescope dashboard in production environment
  app/Providers/TelescopeServiceProvider.php
  config/app.php
Due: php -l, vendor/bin/phpcs

[#328] Regularly prune telescope entries
  app/Console/Kernel.php
Due: php -l, vendor/bin/phpcs

[#329] Use redis as session driver
  .env.example
Due: none

[#330] Fix name of happening update route
  routes/web.php
Due: php -l, vendor/bin/phpcs

[README] Steps after code changes
  README.md
Due: none

[MAINTENANCE] Update .env.example
  .env.example
  soketi.json
Due: none

[#309] Only mobile menu
  resources/js/Shared/Navigation/NavigationMenu.vue
Due: stylelint, eslint

[#257] Fancy buttons for resource groups
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
Due: stylelint, eslint

[#238] User Happenings: Toggle button "Hide past events" breaks when scaling
  resources/js/Components/UserHappenings.vue
  resources/js/Layouts/MainLayout.vue
Due: stylelint, eslint

[#320] Display resource group in Home
  lang/de/navigation.php
  lang/en/navigation.php
  resources/js/Pages/Home.vue
  resources/js/Shared/Navigation/BaseNavigation.vue
  resources/js/Shared/Navigation/RegularNavigation.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#214] Fixing footer
  resources/js/Components/InstitutionCard.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/sass/main.scss
Due: stylelint, eslint

[#325] Changing text colors from blue to red
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Components/Admin/Index/DeleteLink.vue
  resources/js/Components/Admin/Index/RelationLink.vue
  resources/js/Components/Admin/LabeledCheckbox.vue
  resources/js/Components/Admin/TranslatableFormInput.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningFormInput.vue
  resources/js/Components/Modals/LoginModal.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Pages/Admin/Closings/Form.vue
  resources/js/Pages/Admin/Happenings/Form.vue
  resources/js/Pages/Admin/Institutions/Form.vue
  resources/js/Pages/Admin/Mails/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/Resources/Form.vue
  resources/js/Pages/Admin/Roles/Form.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/Admin/Users/Form.vue
Due: stylelint, eslint

[#321] Changing links
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Components/Calendar.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  resources/js/Shared/Navigation/RegularNavigation.vue
  resources/js/Shared/Navigation/SplashNavigation.vue
Due: stylelint, eslint

[#331] Fix help link in regular navigation
  resources/js/Shared/Navigation/RegularNavigation.vue
Due: stylelint, eslint

[MAINTENANCE] Fix formatting
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Components/HappeningInfo.vue
  resources/js/Components/HappeningToast.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/PermissionGroups/Form.vue
  resources/js/Pages/Admin/PermissionGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/SiteCredits.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  resources/js/Shared/Navigation/NavigationMenu.vue
  resources/js/Shared/Navigation/RegularNavigation.vue
Due: stylelint, eslint

[#334] Fix wrong behaviour of concurrent happenings
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs

[#333] Settings for resource groups (Polymorphic settings)
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/SettingController.php
  app/Http/Controllers/HomeController.php
  app/Models/Institution.php
  app/Models/Resource.php
  app/Models/ResourceGroup.php
  app/Models/Setting.php
  app/Policies/SettingPolicy.php
  database/migrations/2023_10_11_093606_alter_happenings_table_foreign_keys.php
  database/migrations/2023_10_14_093650_alter_settings_table_polymorphic.php
  database/seeders/InstitutionSeeder.php
  database/seeders/SettingSeeder.php
  resources/js/Composables/Calendar.js
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Settings/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#340] Rename resource group name to title
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Http/Requests/Admin/ResourceGroupRequest.php
  app/Models/ResourceGroup.php
  database/migrations/2023_10_16_200714_alter_resource_groups_set_name_to_title.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/InstitutionCard.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Settings/Index.vue
  resources/js/Pages/Home.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  resources/js/Shared/Navigation/RegularNavigation.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#341] Add extra setting seeder
  database/seeders/DatabaseSeeder.php
Due: php -l, vendor/bin/phpcs

[#343] Fix settings update
  app/Http/Controllers/Admin/ClosingController.php
  app/Http/Controllers/Admin/SettingController.php
  app/Http/Requests/Admin/UpdateSettingRequest.php
  app/Library/Utility.php
  app/Models/Closing.php
  app/Models/Setting.php
  lang/de/admin.php
  resources/js/Pages/Admin/Closings/Form.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#342] Location URI in resources not showing
  resources/js/Components/ResourceInfo.vue
  resources/js/Components/UserHappening.vue
Due: stylelint, eslint

[#345] Cleanup user happenings from debug output
  resources/js/Components/UserHappening.vue
Due: stylelint, eslint

[#346] Change order of happening info in emails
  resources/views/emails/markdown/_happening.blade.php
  resources/views/emails/text/_happening.blade.php
Due: php -l, vendor/bin/phpcs

[#347] Sort resources by title
  app/Http/Controllers/ResourceController.php
Due: php -l, vendor/bin/phpcs

[MAINTENANCE] Update .gitignore
  .gitignore
Due: none

Path conditions:
  stylelint: ((any of: *.css) or (any of: *.scss)) or (any of: *.vue)
  eslint: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  php -l: any of: *.php
  vendor/bin/phpcs: any of: *.php
