Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

.lintstagedrc.yml:

"*.{css,js,scss,ts,vue}":
  - "prettier --check"

"*.{js,ts,vue}":
  - "eslint"

"*.{css,scss,vue}":
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs"

"renovate.json":
  - renovate-config-validator --strict

fix(admin): associate labels with statistics page form fields
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Statistics/Components/FiltersCard.vue
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Statistics/Index.vue
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(admin): fix invalid label associations and duplicate field ids across admin pages
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Admin/BusinessHourField.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Form.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Form.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Form.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/Statistics/Components/FiltersCard.vue
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Statistics/Index.vue
  resources/js/Pages/Admin/UserGroups/Import.vue
  resources/js/Pages/Admin/UserGroups/Index.vue
  resources/js/Pages/Admin/Users/Form.vue
  resources/js/Pages/Admin/Users/Index.vue
  resources/js/Shared/Form/FormLabel.vue
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(devshell): enable php-spx for local profiling
  flake.nix
Due: none

chore(devshell): split process-compose services for concurrent profiling
  process-compose.yaml
Due: none

fix(calendar): clamp event content so long usernames don't overflow
  resources/css/calendar.css
Due: prettier --check, stylelint

perf(resources): speed up resource.time_slots generation
  app/Services/Http/GetResourceTimeSlotsAction.php
  app/Services/Resources/GenerateResourceTimeSlotsAction.php
  app/Services/Resources/ResourceAvailabilityService.php
  app/Services/Resources/ResourceQuotaService.php
  tests/Unit/Services/Http/GetResourceTimeSlotsActionTest.php
  tests/Unit/Services/Resources/GenerateResourceTimeSlotsActionTest.php
  tests/Unit/Services/Resources/ResourceAvailabilityServiceTest.php
  tests/Unit/Services/Resources/ResourceQuotaServiceTest.php
Due: php -l, vendor/bin/phpcs

perf(happenings): bound reservation/quota queries by date and add indexes
  app/Models/User.php
  app/Services/Happenings/ValidateHappeningReservation.php
  app/Services/Resources/ResourceAvailabilityService.php
  app/Services/Resources/ResourceQuotaService.php
  database/migrations/2026_09_04_120000_add_indexes_to_happenings_table.php
  tests/Unit/Models/UserTest.php
  tests/Unit/Services/Resources/ResourceAvailabilityServiceTest.php
  tests/Unit/Services/Resources/ResourceQuotaServiceTest.php
Due: php -l, vendor/bin/phpcs

perf(closings): bound and cache happenings-affected lookup
  app/Contracts/ClosingSubject.php
  app/Models/Closing.php
  app/Models/Institution.php
  app/Models/Resource.php
  tests/Unit/Contracts/ClosingSubjectTest.php
  tests/Unit/Models/SupportingModelsTest.php
Due: php -l, vendor/bin/phpcs

perf(admin): speed up /api/admin/user/users by skipping Eloquent hydration
  app/Http/Controllers/Admin/UserController.php
  tests/Unit/Http/Admin/UserControllerTest.php
Due: php -l, vendor/bin/phpcs

fix(happening-modal): remove description text duplicating the dialog header
  lang/de/modal.php
  lang/en/modal.php
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Composables/ModalActions.ts
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(happening-modal): sync HappeningInfo labels with form time changes
  resources/js/Components/Modals/HappeningModal.vue
Due: prettier --check, eslint, stylelint

test(echo): make bootstrap tests independent of local .env values
  resources/js/echo.test.ts
Due: prettier --check, eslint

fix: use PrimeVue selects for happening times
  resources/js/Components/Modals/HappeningForm.test.ts
  resources/js/Components/Modals/HappeningForm.vue
  tests/Browser/PublicBookingFlowsTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(admin): stop wiping business hour week days on every save
  app/Services/Admin/BusinessHourSynchronizer.php
  tests/Unit/Services/Admin/BusinessHourSynchronizerTest.php
Due: php -l, vendor/bin/phpcs

build: regenerate ziggy routes automatically during npm build
  README.md
  process-compose.yaml
  scripts/BrowserTestRunner.php
  scripts/build-frontend-assets.sh
  scripts/deploy.sh
  vite.config.ts
Due: prettier --check, eslint, php -l, vendor/bin/phpcs

test: only raise browser test timeout in CI
  tests/Pest.php
Due: php -l, vendor/bin/phpcs

chore(composer): disable process-timeout
  composer.json
Due: none

fix(auth): stop Gate::before admin bypass from hiding happening verify state
  app/Policies/HappeningPolicy.php
  app/Providers/AuthServiceProvider.php
  tests/Unit/Policies/HappeningPolicyTest.php
  tests/Unit/Providers/AuthServiceProviderTest.php
Due: php -l, vendor/bin/phpcs

chore(devshell): add util-linux so setsid is available
  flake.nix
Due: none

fix(statistics): stop dropping numeric resource/group titles in labels
  app/Services/Admin/StatisticsFormatter.php
  tests/Unit/Services/Admin/StatisticsFormatterTest.php
Due: php -l, vendor/bin/phpcs

ci: add import-database job to copy the DB between deployed hosts
  .gitlab-ci.yml
  scripts/db-dump.sh
  scripts/db-import.sh
  scripts/db-restore.sh
  scripts/setup-db-dump-user.sh
Due: none

ci: remove dependency-scanning component include
  .gitlab-ci.yml
Due: none

chore(github): automate Dependabot rebases and flake.lock updates
  .github/dependabot.yml
  .github/workflows/dependabot-rebase.yml
  .github/workflows/update-flake-lock.yml
Due: none

chore(github): use dedicated PAT for dependabot rebase comments
  .github/workflows/dependabot-rebase.yml
Due: none

chore(github): group npm major updates for version-locked packages
  .github/dependabot.yml
Due: none

chore(gitlab): prune stale dependabot mirror branches
  .gitlab-ci.yml
  scripts/prune-mirror-branches.sh
Due: none

chore(gitlab): close stale GitHub PRs for closed dependabot MRs
  .gitlab-ci.yml
  scripts/stale-pull-requests.sh
Due: none

fix(tests): avoid Larastan template-type error in StatisticsTimeSeriesBuilder test
  tests/Unit/Services/Admin/StatisticsTimeSeriesBuilderTest.php
Due: php -l, vendor/bin/phpcs

ci(gitlab): scope import-database to its own environment
  .gitlab-ci.yml
Due: none

fix(db-import): skip add-locks in dump to avoid restore privilege error
  scripts/db-dump.sh
Due: none

fix(db-import): drop existing tables before restoring on target
  scripts/db-restore.sh
  scripts/drop-all-tables.sql
Due: none

fix(stats): satisfy phpstan on time series split typing
  app/Services/Admin/StatisticsComparisonBuilder.php
  app/Services/Admin/StatisticsScopeResolver.php
  app/Services/Admin/StatisticsTimeSeriesBuilder.php
  tests/Unit/Services/Admin/StatisticsTimeSeriesBuilderTest.php
Due: php -l, vendor/bin/phpcs

fix(ci): avoid duplicate dependabot merge requests
  scripts/dependabot-merge-request.sh
Due: none

chore: add license information
  README.md
  package-lock.json
  package.json
Due: none

feat: link to source code
  lang/de/navigation.php
  lang/de/site_credits.php
  lang/en/navigation.php
  lang/en/site_credits.php
  resources/js/Pages/SiteCredits.vue
  resources/js/Shared/Footer.test.ts
  resources/js/Shared/Footer.vue
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

test: use an existing view in notification dispatch mailable
  tests/Unit/Services/Notifications/NotificationDispatchServiceTest.php
Due: php -l, vendor/bin/phpcs

chore(hooks): run only commitlint in the pre-push hook
  .husky/pre-push
Due: none

test: avoid shell for browser runner commands
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs
