Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

build: use rector
  .gitlab-ci.yml
  composer.json
  composer.lock
  rector.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: add toasts for user groups
  app/Http/Controllers/LoginController.php
  app/Http/Controllers/ResourceController.php
  lang/de/toast.php
  lang/en/toast.php
  resources/js/Composables/Calendar.js
  resources/js/Layouts/MainLayout.vue
  resources/js/Stores/AuthStore.js
  resources/js/Stores/ToastStore.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: add user groups to resource group form
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Http/Requests/Admin/ResourceGroupRequest.php
  app/Services/ResourceGroupService.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/ResourceGroups/Form.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: add user group commands
  app/Console/Commands/CreateUserGroup.php
  app/Console/Commands/ImportUsers.php
  app/Console/Commands/RestrictResourceGroup.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: add user groups
  app/Http/Controllers/HappeningController.php
  app/Models/Institution.php
  app/Models/ResourceGroup.php
  app/Models/User.php
  app/Models/UserGroup.php
  app/Models/UserGroupUser.php
  database/migrations/2025_02_26_094236_create_user_groups_table.php
  database/migrations/2025_02_26_094716_create_user_group_user_table.php
  database/migrations/2025_02_26_112307_create_resource_group_user_group_table.php
  lang/de/happening.php
  lang/en/happening.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: add user group routes
  app/Http/Controllers/Admin/UserGroupController.php
  app/Http/Requests/Admin/ImportUsersRequest.php
  app/Http/Requests/Admin/StoreUserGroupRequest.php
  app/Http/Requests/Admin/UpdateUserGroupRequest.php
  app/Models/Institution.php
  app/Models/UserGroup.php
  app/Policies/UserGroupPolicy.php
  app/Services/UserGroupService.php
  database/seeders/PermissionSeeder.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Admin/FormAction.vue
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/UserGroups/Form.vue
  resources/js/Pages/Admin/UserGroups/Import.vue
  resources/js/Pages/Admin/UserGroups/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: use v-model for ToggleSwitch
  resources/js/Pages/Admin/Resources/Form.vue
Due: stylelint, eslint

fix: check if block quota is zero
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

build: simplify devenv
  .env.devenv
  bootstrap/app.php
  devenv.nix
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: add user groups to navigation
  lang/de/navigation.php
  lang/en/navigation.php
  resources/js/Shared/Navigation/AdminNavigation.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: add text inputs for dates in user group form
  app/Http/Controllers/Admin/UserGroupController.php
  app/Http/Requests/Admin/ImportUsersRequest.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/UserGroups/Import.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: show users in user group
  app/Http/Controllers/Admin/UserGroupController.php
  app/Services/UserGroupService.php
  lang/de/admin.php
  lang/de/popup.php
  lang/en/admin.php
  lang/en/popup.php
  resources/js/Components/Admin/Index/PopupLink.vue
  resources/js/Components/Admin/Index/RelationLink.vue
  resources/js/Pages/Admin/UserGroups/Import.vue
  resources/js/Pages/Admin/UserGroups/Index.vue
  resources/js/Pages/Admin/UserGroups/Users.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: make sure date is valid
  app/Models/ResourceGroup.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: reset array keys
  app/Services/ResourceGroupService.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

build(devenv): update nixpkgs
  flake.lock
Due: none

ci: deploy to server
  .gitlab-ci.yml
Due: none

ci: fix git option
  .gitlab-ci.yml
Due: none

ci: use CI variable to pull repository
  .gitlab-ci.yml
Due: none

ci: run only deploy step on main branch
  .gitlab-ci.yml
Due: none

style: remove unnecessary double quotes
  config/roomz.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: decouple happening cleanup and anonymization
  app/Console/Commands/AnonymizeHappeningUsersCommand.php
  config/roomz.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: default to 1000 for happening cleanup days
  config/roomz.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: don't set verifier to null when happenings are deleted
  app/Models/Happening.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: show notice for restricted resource groups
  .phpcs.xml
  app/Http/Requests/Admin/ResourceGroupRequest.php
  app/Models/ResourceGroup.php
  database/migrations/2025_03_19_152412_add_help_uri_to_resource_groups_table.php
  lang/de/admin.php
  lang/de/user_happening.php
  lang/en/admin.php
  lang/en/user_happening.php
  resources/js/Components/UserHappenings.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Home.vue
  tailwind.config.cjs
  tests/Browser/CalendarPageTest.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

build: add renovate config
  renovate.json
Due: none

ci: restrict test jobs
  .gitlab-ci.yml
Due: none

fix(frontend/admin): use correct permission to view settings of resource groups
  resources/js/Pages/Admin/ResourceGroups/Index.vue
Due: stylelint, eslint

chore(deps): update dependency vite to v6.2.4 [security]
  package-lock.json
Due: none

fix: adjust teaser image size
  resources/js/Components/InstitutionCard.vue
Due: stylelint, eslint

fix: normalize user names when importing to user group
  app/Services/UserGroupService.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

ci: use environment for deployment
  .gitlab-ci.yml
Due: none

fix: don't delete users that belong to a user group
  app/Console/Commands/RemoveUsersCommand.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: disable dark mode
  resources/js/app.js
  tailwind.config.cjs
Due: eslint

chore(deps): update dependency vite to v6.2.5 [security]
  package-lock.json
Due: none

fix: use same selector for tailwind and primevue
  resources/js/app.js
Due: eslint

build: rename compose files
  .docker/testing-extends.yml
  .gitlab-ci.yml
  compose.testing.yaml
  compose.yaml
Due: none

ci: make jobs interruptable
  .gitlab-ci.yml
Due: none

Path conditions:
  stylelint: ((any of: *.css) or (any of: *.scss)) or (any of: *.vue)
  eslint: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  php -l: any of: *.php
  vendor/bin/phpcs --ignore=*.blade.php: any of: *.php
