Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

.lintstagedrc.yml:

"*.{css,js,scss,ts,vue}":
  - "prettier --check"

"*.{js,ts,vue}":
  - "eslint"

"*.{css,scss,vue}":
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs"

"renovate.json":
  - renovate-config-validator --strict

feat(admin): add statistics page
  app/Http/Controllers/Admin/StatisticsController.php
  app/Http/Requests/Admin/StatisticsExportRequest.php
  app/Http/Requests/Admin/StatisticsRequest.php
  app/Services/Admin/StatisticsAdminService.php
  lang/de/admin.php
  lang/en/admin.php
  package-lock.json
  package.json
  resources/js/Composables/AdminBreadcrumbs.test.ts
  resources/js/Composables/AdminBreadcrumbs.ts
  resources/js/Composables/AdminStatisticsCancellation.test.ts
  resources/js/Composables/AdminStatisticsCancellation.ts
  resources/js/Composables/AdminStatisticsFilters.test.ts
  resources/js/Composables/AdminStatisticsFilters.ts
  resources/js/Composables/AdminStatisticsFormat.test.ts
  resources/js/Composables/AdminStatisticsFormat.ts
  resources/js/Composables/AdminStatisticsHeatmap.test.ts
  resources/js/Composables/AdminStatisticsHeatmap.ts
  resources/js/Composables/AdminStatisticsPieChart.test.ts
  resources/js/Composables/AdminStatisticsPieChart.ts
  resources/js/Composables/AdminStatisticsSelection.test.ts
  resources/js/Composables/AdminStatisticsSelection.ts
  resources/js/Composables/AdminStatisticsTheme.test.ts
  resources/js/Composables/AdminStatisticsTheme.ts
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/Statistics/Components/FiltersCard.vue
  resources/js/Pages/Admin/Statistics/Components/PeakTimesHeatmapCard.vue
  resources/js/Pages/Admin/Statistics/Components/PieChartCard.vue
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Statistics/Index.test.ts
  resources/js/Pages/Admin/Statistics/Index.vue
  resources/js/Stores/AppStore.test.ts
  resources/js/Stores/AppStore.ts
  resources/js/Types/Admin.ts
  routes/web.php
  tests/Feature/Http/Admin/StatisticsExportTest.php
  tests/Feature/Http/Admin/StatisticsTest.php
  tests/Unit/Services/Admin/StatisticsAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore: remove unused npm dependencies
  package-lock.json
  package.json
Due: none

chore: migrate husky to v9
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: none

chore: bump minor/patch versions of several dependencies
  package-lock.json
  package.json
  resources/js/Composables/Login.test.ts
  resources/js/Composables/ModalActions.test.ts
  resources/js/Stores/AuthStore.test.ts
Due: prettier --check, eslint

chore: update globals (16.5.0 → 17.12.0)
  package-lock.json
  package.json
Due: none

chore: update postcss-html and stylelint-config-standard-vue
  package-lock.json
  package.json
Due: none

chore: update primeicons (7.0.0 → 8.0.0)
  package-lock.json
  package.json
Due: none

chore: update commitlint (19.8.1 → 21.2.2)
  package-lock.json
  package.json
Due: none

chore: update primevue (@primeuix/themes 1.2.5 → 2.0.3)
  package-lock.json
  package.json
  resources/js/app.ts
Due: prettier --check, eslint

chore: update lint-staged (15.5.2 → 17.4.1)
  package-lock.json
  package.json
Due: none

chore: update @trivago/prettier-plugin-sort-imports (4.3.0 → 6.0.2)
  package-lock.json
  package.json
Due: none

test: convert component/composable Pinia store mocks to real Pinia
  resources/js/Components/HappeningQuotas.test.ts
  resources/js/Components/UserHappening.test.ts
  resources/js/Composables/AdminBreadcrumbs.test.ts
  resources/js/Composables/Calendar.test.ts
  resources/js/Composables/Login.test.ts
  resources/js/Composables/ModalActions.test.ts
  resources/js/Composables/SortFilterTable.test.ts
  resources/js/Layouts/MainLayout.test.ts
  resources/js/Pages/Admin/Roles/Form.test.ts
  resources/js/Pages/Admin/Statistics/Index.test.ts
  resources/js/Pages/Admin/UserGroups/Import.test.ts
  resources/js/Pages/Admin/Users/Form.test.ts
  resources/js/Pages/TerminalView.test.ts
Due: prettier --check, eslint

chore(frontend): remove unused v-badge directive registration
  resources/js/app.ts
Due: prettier --check, eslint

chore: update vite and laravel-vite-plugin (vite 6.4.3 → 8.2.2, laravel-vite-plugin 1.3.0 → 3.2.0)
  package-lock.json
  package.json
Due: none

chore: pin playwright to 1.61.1 to match nix devshell
  package-lock.json
  package.json
Due: none

chore: update laravel-echo (1.19.0 → 2.4.0)
  package-lock.json
  package.json
Due: none

refactor: stub Head via test-utils instead of mocking @inertiajs/vue3
  resources/js/Pages/Start.test.ts
  resources/js/Pages/Start.vue
  resources/js/Shared/Header.test.ts
  resources/js/Shared/Header.vue
Due: prettier --check, eslint, stylelint

chore: update pinia and pinia-plugin-persistedstate
  package-lock.json
  package.json
  resources/js/Stores/AppStore.ts
  resources/js/Stores/AuthStore.ts
  resources/js/Stores/HappeningStore.ts
  resources/js/Stores/ThemeStore.ts
  resources/js/Stores/ToastStore.ts
Due: prettier --check, eslint

feat: load Noto Sans Variable as the app's sans font
  package-lock.json
  package.json
  resources/css/main.css
Due: prettier --check, stylelint

chore: update TypeScript to v6 (5.9.3 → 6.0.3)
  package-lock.json
  package.json
Due: none

chore: update @vitejs/plugin-vue (5.2.4 → 6.0.8)
  package-lock.json
  package.json
Due: none

fix(ci): fetch full git history for commitlint job
  .gitlab-ci.yml
Due: none

refactor: migrate stylesheets from Sass to plain CSS
  .lintstagedrc.yml
  .stylelintrc.json
  package-lock.json
  package.json
  resources/css/calendar.css
  resources/css/main.css
  resources/views/app.blade.php
  vite.config.ts
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(flake): update nixpkgs input
  flake.lock
Due: none

chore: update inertiajs to v3 (2.3.27 → 3.7.0)
  composer.json
  composer.lock
  config/inertia.php
  package-lock.json
  package.json
Due: php -l, vendor/bin/phpcs

chore: update unplugin-vue-components (0.27.5 → 32.1.0)
  package-lock.json
  package.json
Due: none

chore: update eslint and eslint-plugin-vue
  package-lock.json
  package.json
Due: none

fix: import primeicons and noto-sans via JS instead of CSS @import
  resources/css/main.css
  resources/js/app.ts
Due: prettier --check, eslint, stylelint

fix: preserve scroll position when reordering admin resources
  resources/js/Composables/Reorder.ts
Due: prettier --check, eslint

refactor: wrap resource reorder payloads in a named 'rows' field
  app/Http/Requests/Admin/InstitutionOrderRequest.php
  app/Http/Requests/Admin/ResourceGroupOrderRequest.php
  app/Http/Requests/Admin/ResourceOrderRequest.php
  resources/js/Composables/Reorder.ts
  tests/Feature/Http/Admin/ClosingTest.php
  tests/Feature/Http/Admin/InstitutionTest.php
  tests/Feature/Http/Admin/ResourceGroupTest.php
  tests/Feature/Http/Admin/ResourceTest.php
  tests/Unit/Http/Requests/Admin/AdminRequestValidationTest.php
  tests/Unit/Http/Requests/Admin/InstitutionOrderRequestTest.php
  tests/Unit/Http/Requests/Admin/ResourceGroupOrderRequestTest.php
  tests/Unit/Http/Requests/Admin/ResourceOrderRequestTest.php
Due: prettier --check, eslint, php -l, vendor/bin/phpcs

chore: forbid casting through unknown in production code
  eslint.config.ts
  resources/js/app.ts
Due: prettier --check, eslint

feat(admin): improve statistics time series filters and charting
  app/Http/Controllers/Admin/StatisticsController.php
  app/Http/Requests/Admin/StatisticsRequest.php
  app/Services/Admin/StatisticsAdminService.php
  lang/de/admin.php
  lang/en/admin.php
  resources/css/main.css
  resources/js/Composables/AdminStatisticsFilters.test.ts
  resources/js/Composables/AdminStatisticsFilters.ts
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Statistics/Components/FiltersCard.vue
  resources/js/Pages/Admin/Statistics/Components/PeakTimesHeatmapCard.vue
  resources/js/Pages/Admin/Statistics/Components/PieChartCard.vue
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Statistics/Index.test.ts
  resources/js/Pages/Admin/Statistics/Index.vue
  resources/js/Types/Admin.ts
  tests/Feature/Http/Admin/StatisticsExportTest.php
  tests/Feature/Http/Admin/StatisticsTest.php
  tests/Unit/Services/Admin/StatisticsAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

feat(admin): enable select-all/none on multiselect filters with a visible label
  lang/de/admin.php
  lang/en/admin.php
  resources/css/main.css
  resources/js/Components/MultiSelectToggleAllLabel.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/Statistics/Components/TimeSeriesCard.vue
  resources/js/Pages/Admin/Users/Form.vue
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(scripts): reap orphaned browser-test processes on startup
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

chore(scripts): remove coverage collection from browser test runs
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

chore(build): suppress Rolldown plugin-timings notice
  vite.config.ts
Due: prettier --check, eslint

feat(admin): defer and speed up statistics page data loading
  app/Http/Controllers/Admin/StatisticsController.php
  app/Services/Admin/StatisticsAdminService.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Statistics/Index.test.ts
  resources/js/Pages/Admin/Statistics/Index.vue
  tests/Feature/Http/Admin/StatisticsTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

refactor(admin): split StatisticsAdminService into focused collaborators
  app/Services/Admin/StatisticsAdminService.php
  app/Services/Admin/StatisticsBookingCountsCalculator.php
  app/Services/Admin/StatisticsCancellationCalculator.php
  app/Services/Admin/StatisticsComparisonBuilder.php
  app/Services/Admin/StatisticsCsvExporter.php
  app/Services/Admin/StatisticsDateRangeResolver.php
  app/Services/Admin/StatisticsFormatter.php
  app/Services/Admin/StatisticsHappeningQuery.php
  app/Services/Admin/StatisticsHeatmapBuilder.php
  app/Services/Admin/StatisticsScopeResolver.php
  app/Services/Admin/StatisticsTimeSeriesBuilder.php
  tests/Unit/Services/Admin/StatisticsAdminServiceTest.php
  tests/Unit/Services/Admin/StatisticsBookingCountsCalculatorTest.php
  tests/Unit/Services/Admin/StatisticsCancellationCalculatorTest.php
  tests/Unit/Services/Admin/StatisticsComparisonBuilderTest.php
  tests/Unit/Services/Admin/StatisticsCsvExporterTest.php
  tests/Unit/Services/Admin/StatisticsDateRangeResolverTest.php
  tests/Unit/Services/Admin/StatisticsFormatterTest.php
  tests/Unit/Services/Admin/StatisticsHappeningQueryTest.php
  tests/Unit/Services/Admin/StatisticsHeatmapBuilderTest.php
  tests/Unit/Services/Admin/StatisticsScopeResolverTest.php
  tests/Unit/Services/Admin/StatisticsTimeSeriesBuilderTest.php
Due: php -l, vendor/bin/phpcs

chore(docker): route FrankenPHP stack's Reverb WebSocket through Caddy's proxy port
  Dockerfile
  compose.yaml
Due: none
