Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

.lintstagedrc.yml:

"*.css":
  - "stylelint"

"*.js":
  - "eslint"

"*.scss":
  - "stylelint"

"*.ts":
  - "eslint"

"*.vue":
  - "eslint"
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs --ignore=*.blade.php"

ci: add deploy script
  .gitlab-ci.yml
  scripts/deploy.sh
Due: none

ci: remove unnecessary keys
  .gitlab-ci.yml
Due: none

ci: add deploy job for demo server
  .gitlab-ci.yml
Due: none

ci: add resource group for deploy job
  .gitlab-ci.yml
Due: none

ci: remove gitlab templates
  .gitlab-ci.yml
Due: none

ci: add gitleaks job
  .gitlab-ci.yml
Due: none

ci: use php v8.3 image
  .gitlab-ci.yml
Due: none

ci: allow deployment to demo server only on main
  .gitlab-ci.yml
Due: none

build: fix vite build with prefix in deploy script
  scripts/deploy.sh
Due: none

build: don't cache routes in deploy script
  scripts/deploy.sh
Due: none

build: use bash for deploy script
  scripts/deploy.sh
Due: none

build(renovate): approve major updates
  renovate.json
Due: none

chore(deps): update dependency vite to v6.2.6 [security]
  package-lock.json
Due: none

feat!: add keyword search to institutions index
  lang/de/admin.php
  lang/en/admin.php
  package-lock.json
  package.json
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Institutions/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: reposition action buttons in user happening
  lang/en/user_happenings.php
  resources/js/Components/SidebarButton.vue
  resources/js/Components/UserHappening.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix!: various fixes in layout
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/UserHappening.vue
  resources/js/Layouts/CalendarLayout.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Shared/Header.vue
  resources/js/Shared/Navigation/ExternalLink.vue
  resources/js/Shared/Navigation/NavigationBar.vue
  resources/sass/main.scss
Due: stylelint, eslint

fix: remove debug outline
  resources/sass/main.scss
Due: stylelint

feat(login): add autofocus to username form field
  resources/js/Components/Modals/LoginModal.vue
Due: stylelint, eslint

fix(login): remove unused style
  resources/js/Components/Modals/LoginModal.vue
Due: stylelint, eslint

feat: wcag for start page
  lang/de/accessibility.php
  lang/en/accessibility.php
  resources/js/Components/InstitutionCard.vue
  resources/js/Layouts/CalendarLayout.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Start.vue
  resources/js/Shared/Footer.vue
  resources/js/Shared/Header.vue
  resources/js/Shared/Navigation/NavigationBar.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

chore(deps): update dependency vite to v6.2.7 [security]
  package-lock.json
  package.json
Due: none

feat!: refactor sidebar layout
  lang/de/quota.php
  lang/de/sidebar.php
  lang/de/user_happenings.php
  lang/en/quota.php
  lang/en/sidebar.php
  lang/en/user_happenings.php
  package-lock.json
  package.json
  resources/js/Components/HappeningQuota.vue
  resources/js/Components/HappeningQuotas.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/Sidebar.vue
  resources/js/Components/Sidebar/Sidebar.vue
  resources/js/Components/Sidebar/SidebarBlock.vue
  resources/js/Components/Sidebar/SidebarButton.vue
  resources/js/Components/Sidebar/SidebarLabel.vue
  resources/js/Components/SidebarButton.vue
  resources/js/Components/UserHappening.vue
  resources/js/Components/UserHappening/UserHappeningActions.vue
  resources/js/Components/UserHappening/UserHappeningData.vue
  resources/js/Components/UserHappening/UserHappeningStatus.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Pages/Home.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix(AuthStore): use isoWeek to start week on Monday
  resources/js/Stores/AuthStore.js
Due: eslint

docs(Models/Resource): use more specific array type hint
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

build(renovate): run renovate for release branches
  renovate.json
Due: none

refactor: sidebar as top landmark
  resources/js/Layouts/CalendarLayout.vue
Due: stylelint, eslint

refactor(UserHappenings): change order of attributes
  resources/js/Components/UserHappenings.vue
Due: stylelint, eslint

feat: ui mods for accessibility
  resources/js/Components/Calendar/Calendar.vue
  resources/js/Components/Calendar/Legend.vue
  resources/js/Components/Sidebar/Sidebar.vue
  resources/js/Components/Sidebar/SidebarBlock.vue
  resources/js/Components/UserHappening.vue
  resources/js/Components/UserHappenings.vue
  resources/sass/calendar.scss
  resources/sass/main.scss
  resources/sass/variables.scss
Due: stylelint, eslint

build: fix renovate config
  renovate.json
Due: none

ci: validate renovate config
  .gitlab-ci.yml
  .lintstagedrc.yml
  package-lock.json
  package.json
Due: none

chore(deps): update dependency axios to v1.8.2 [security]
  package-lock.json
Due: none

ci: don't validate renovate config on main
  .gitlab-ci.yml
Due: none

chore(deps): update dependency vite to v6.2.7 [security]
  package-lock.json
Due: none

chore(config): migrate config renovate.json
  renovate.json
Due: none

build: update node to v22
  .gitlab-ci.yml
  devenv.nix
Due: none

build: update renovate to v41
  package-lock.json
  package.json
Due: none

ci: always run renovate job
  .gitlab-ci.yml
Due: none

fix(SortFilterTable.js): show all elements if perPage is negative
  resources/js/Composables/SortFilterTable.js
Due: eslint
