Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs

[#271] Add phpmd config
  .phpmd.xml
Due: none

[#265] Fix routes for mails and settings
  app/Http/Controllers/Admin/MailController.php
  app/Http/Controllers/Admin/SettingController.php
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#274] Fix mail type dropdown in mail form
  resources/js/Pages/Admin/Mails/Form.vue
Due: stylelint, eslint

[#254] Make components from action links in admin index
  app/Http/Controllers/Admin/ResourceController.php
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Components/Admin/Index/CreateLink.vue
  resources/js/Components/Admin/Index/DeleteLink.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/Permissions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/Settings/Index.vue
  resources/js/Pages/Admin/Users/Form.vue
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#275] Make component of boolean values in admin index
  resources/js/Components/Admin/Index/BooleanField.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint

[#276] Fix action link keys for relations
  resources/js/Components/Admin/Index/RelationLink.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
Due: stylelint, eslint

[#272] Fix cancel form action for index routes with route parameters
  app/Http/Controllers/Admin/SettingController.php
  resources/js/Components/Admin/FormAction.vue
  resources/js/Pages/Admin/Closings/Form.vue
  resources/js/Pages/Admin/Happenings/Form.vue
  resources/js/Pages/Admin/Institutions/Form.vue
  resources/js/Pages/Admin/Mails/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/Resources/Form.vue
  resources/js/Pages/Admin/Settings/Form.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#268] Display resource group in user happening, resource_info and addHappening modal
  app/Http/Controllers/HappeningController.php
  app/Http/Controllers/ResourceController.php
  app/Http/Controllers/UserController.php
  database/factories/ResourceFactory.php
  lang/en/admin.php
  lang/en/modal.php
  resources/js/Components/Admin/FormAction.vue
  resources/js/Components/Admin/Index/DeleteLink.vue
  resources/js/Components/HappeningInfo.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/Modals/ResourceInfoModal.vue
  resources/js/Components/UserHappening.vue
  resources/js/Composables/Calendar.js
  resources/js/Pages/Admin/Institutions/Form.vue
  resources/js/app.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#229] Show link to admin area in start navigation
  resources/js/Shared/Navigation/BaseNavigation.vue
  resources/js/Shared/Navigation/SplashNavigation.vue
Due: stylelint, eslint

[#237] Add form for permission groups
  app/Http/Controllers/Admin/PermissionController.php
  app/Http/Controllers/Admin/PermissionGroupController.php
  app/Http/Requests/Admin/PermissionGroupRequest.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/PermissionGroups/Form.vue
  resources/js/Pages/Admin/PermissionGroups/Index.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#277] Fix display of resource group for happenings
  .phpcs.xml
  app/Events/HappeningBroadcastEvent.php
  app/Http/Controllers/HappeningController.php
  app/Http/Controllers/ResourceController.php
  app/Http/Controllers/UserController.php
  resources/js/Components/HappeningInfo.vue
  resources/js/Components/UserHappening.vue
  resources/js/Composables/Calendar.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#89] Display localized date formats in happenings
  resources/js/Components/HappeningInfo.vue
  resources/js/Components/HappeningToast.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/UserHappening.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Stores/AppStore.js
Due: stylelint, eslint

[#279] Make institution email fillable
  .phpcs.xml
  app/Http/Requests/Admin/InstitutionRequest.php
  app/Models/Institution.php
Due: php -l, vendor/bin/phpcs

[#281] Fix missing import of appStore in HappeningToasts
  resources/js/Components/HappeningToast.vue
Due: stylelint, eslint

[#282] Invalid Date for all formatDate/formatTime expressions
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Stores/AppStore.js
Due: stylelint, eslint

[#286] Missing textkey popup.content.delete.resource_group
  lang/de/popup.php
  lang/en/popup.php
Due: php -l, vendor/bin/phpcs

[#294] Fix optional parameter in getDateTimeFromString method
  resources/js/Stores/AppStore.js
Due: eslint

[#235] Artisan command for first institution
  app/Console/Commands/CreateInstitutionCommand.php
  composer.json
  composer.lock
Due: php -l, vendor/bin/phpcs

[#278] Add translations for permission groups in admin navigation
  lang/de/navigation.php
  lang/en/navigation.php
Due: php -l, vendor/bin/phpcs

[#296] Add permissions for resource groups, permission groups and permissions to seeder
  database/seeders/PermissionSeeder.php
Due: php -l, vendor/bin/phpcs

[#297] Fix icons for resource groups and permission groups
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
Due: stylelint, eslint

[#287] Fix route parameters
  app/Http/Controllers/Admin/PermissionController.php
  app/Http/Controllers/Admin/PermissionGroupController.php
  app/Http/Controllers/Admin/RoleController.php
  routes/web.php
Due: php -l, vendor/bin/phpcs

[#288] Admin Dashboard with happenings visible for regular user
  app/Providers/AuthServiceProvider.php
  routes/web.php
Due: php -l, vendor/bin/phpcs

[#280] Ensure slugs are unique
  app/Http/Requests/Admin/InstitutionRequest.php
  app/Http/Requests/Admin/ResourceGroupRequest.php
Due: php -l, vendor/bin/phpcs

[#295] Add textkey email.general.verifier.label in mail
  lang/de/email.php
  lang/en/email.php
Due: php -l, vendor/bin/phpcs

[#299] Allow duplicate resource group slugs when not belonging to the same institution
  app/Http/Requests/Admin/ResourceGroupRequest.php
  app/Rules/UniqueResourceGroupAttributeRule.php
Due: php -l, vendor/bin/phpcs

[#298] Fix "other permissions" checkbox in role form
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Roles/Form.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[i18n] Text changes
  lang/de/login.php
  lang/de/popup.php
Due: php -l, vendor/bin/phpcs

[#284] Drop altering migrations except user related migrations
  database/migrations/2019_10_07_100210_alter_user_table_fields.php
  database/migrations/2019_10_07_100211_create_institutions_table.php
  database/migrations/2019_10_07_100222_create_resources_table.php
  database/migrations/2019_11_26_000000_create_bans_table.php
  database/migrations/2019_11_26_130345_alter_bannable_id_in_bans.php
  database/migrations/2019_11_26_132512_alter_created_by_id_in_bans.php
  database/migrations/2023_08_29_131101_create_roles_table.php
  database/migrations/2023_09_01_072440_create_permissions_table.php
  database/migrations/2023_09_01_072600_create_permission_groups_table.php
  database/migrations/2023_09_05_123928_drop_institution_admin_table.php
  database/migrations/2023_09_11_093338_alter_user_table_fields.php
  database/migrations/2023_09_12_123422_alter_translatable_fields.php
Due: php -l, vendor/bin/phpcs

[#283] Use common artisan namespace for custom commands
  app/Console/Commands/CreateInstitutionCommand.php
  app/Console/Commands/RemoveUnverifiedHappeningsCommand.php
  app/Console/Commands/RemoveUsersCommand.php
Due: php -l, vendor/bin/phpcs

[#302] Left-align permissions in role index table
  resources/js/Pages/Admin/Roles/Index.vue
Due: stylelint, eslint

[#305] No resource groups and resources as user with corresponding permissions
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Models/Institution.php
  app/Policies/ResourceGroupPolicy.php
Due: php -l, vendor/bin/phpcs

[#300] Content for Privacy Statement & Site Credits
  lang/de/auth.php
  lang/de/site_credits.php
  lang/en/site_credits.php
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/SiteCredits.vue
  resources/js/Shared/NavLink.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs

[#257] Fancy buttons for resource groups
  resources/js/Components/InstitutionCard.vue
Due: stylelint, eslint

[#232] Fix admin navigation
  resources/js/Shared/Navigation/NavigationMenu.vue
Due: stylelint, eslint

[#308] Redesign institution card
  resources/js/Components/InstitutionCard.vue
  resources/js/Shared/Navigation/SplashNavigation.vue
Due: stylelint, eslint

[#310] Soft delete related happenings when user is deleted
  app/Models/User.php
  database/migrations/2023_10_11_093606_alter_happening_table_foreign_keys.php
Due: php -l, vendor/bin/phpcs

[#311] Remove verifier from soft deleted happenings
  app/Models/Happening.php
Due: php -l, vendor/bin/phpcs

[#312] Delete all happenings after time interval
  app/Models/Happening.php
Due: php -l, vendor/bin/phpcs

Path conditions:
  stylelint: ((any of: *.css) or (any of: *.scss)) or (any of: *.vue)
  eslint: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  php -l: any of: *.php
  vendor/bin/phpcs: any of: *.php
