Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Add translations for ban/unban popups
  lang/de/popup.php
  lang/en/popup.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#420] Institution-card-wapper fix
  resources/js/Components/InstitutionCard.vue
Due: stylelint, eslint

[CHORE] Fix translations in happening modal
  lang/de/modal.php
  lang/en/modal.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Use 'this' instead of 'useAppStore' in AppStore
  resources/js/Stores/AppStore.js
Due: eslint

[#421] Change translations for happening labels in modal
  lang/de/modal.php
  lang/en/modal.php
  resources/js/Components/Modals/HappeningForm.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] npm audit fix
  package-lock.json
Due: none

[CHORE] Fix happening label placeholder translations
  lang/de/modal.php
  lang/en/modal.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#422] Use request locale in happening mails
  app/Mail/HappeningMail.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Formatting
  app/Mail/ClosingCreatedMail.php
  app/Mail/ClosingUpdatedMail.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#427] Add nix devshell
  .editorconfig
  .envrc
  devenv.lock
  devenv.nix
  devenv.yaml
  flake.lock
  flake.nix
  vite.config.js
Due: eslint

[#426] Upgrade to Laravel 11
  .env.example
  app/Auth/AlmaUserProvider.php
  app/Http/Kernel.php
  app/Http/Middleware/EncryptCookies.php
  app/Http/Middleware/VerifyCsrfToken.php
  composer.json
  composer.lock
  config/broadcasting.php
  config/database.php
  config/hashing.php
  config/reverb.php
  config/roomz.php
  config/sanctum.php
  config/session.php
  devenv.nix
  package-lock.json
  package.json
  resources/js/bootstrap.js
  resources/js/echo.js
  soketi-pm2.json
  soketi.json
Due: eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] npm clean-install in devenv
  devenv.nix
Due: none

[#420] New start page
  database/seeders/InstitutionSeeder.php
  resources/js/Components/InstitutionCard.vue
  resources/js/Pages/Start.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#430] Fix JS types for translatables in forms
  resources/js/Components/Admin/TranslatableFormInput.vue
  resources/js/Pages/Admin/Closings/Form.vue
  resources/js/Pages/Admin/Mails/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/Resources/Form.vue
Due: stylelint, eslint

[#431] Use mysql database driver
  .env.example
  config/database.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#432] Restore old vite pusher environment variables
  resources/js/echo.js
Due: eslint

[#433] Make echo broadcast driver configurable via environment variable
  .env.example
  resources/js/echo.js
Due: eslint

[#434] Fix default database connection
  config/database.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#429] Clean up config and dotenv files
  .env.example
  config/auth.php
  config/broadcasting.php
  config/mail.php
  config/roomz.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[CHORE] Update devenv
  devenv.lock
  devenv.yaml
  flake.lock
Due: none

[#435] Remove dependency on insecure axios version via @inertiajs/progress
  package-lock.json
  package.json
Due: none

[#428] Fix docker-compose setup
  .docker/caddy/Caddyfile
  .docker/mariadb/schema.sql
  .docker/php-fpm/php-fpm.conf
  .dockerignore
  .editorconfig
  Dockerfile
  container-start
  docker-compose.yml
Due: none

[#438] Refactor docker compose file
  docker-compose.yml
Due: none

[#438] Use reverb instead of soketi
  .docker/caddy/Caddyfile
  Dockerfile
  docker-compose.yml
Due: none

[#438] Add dependencies for caddy container
  docker-compose.yml
Due: none

[#438] Disable mailpit healthcheck
  docker-compose.yml
Due: none

[#438] Bypass cache if build secret changes
  Dockerfile
Due: none

[#438] Use init process for proper signal forwarding
  docker-compose.yml
Due: none

[CHORE] Use node v20 in devenv
  devenv.nix
Due: none

[CHORE] Update devenv
  devenv.lock
  flake.lock
Due: none

[CHORE] Remove unused import
  app/Http/Middleware/Localization.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: decrypt locale cookie before reading it
  app/Http/Kernel.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: change application name to BibRoomz
  .env.example
  README.md
  package-lock.json
  package.json
  resources/views/app.blade.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

chore: lint commit messages to enforce Conventional Commits
  .commitlintrc.mjs
  .husky/commit-msg
  package-lock.json
  package.json
Due: none

chore: add config for commitizen cli
  .czrc
  package-lock.json
  package.json
Due: none

chore(devenv): add restart policy for queue-worker
  devenv.nix
Due: none

refactor(Resource): split findOpen method
  app/Models/BusinessHour.php
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: hide business hour remove button if only one exists
  resources/js/Components/Admin/BusinessHourField.vue
  resources/js/Pages/Admin/Resources/Form.vue
Due: stylelint, eslint

Path conditions:
  stylelint: ((any of: *.css) or (any of: *.scss)) or (any of: *.vue)
  eslint: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  php -l: any of: *.php
  vendor/bin/phpcs --ignore=*.blade.php: any of: *.php
