Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

ci: add dependency-scanning component
  .gitlab-ci.yml
Due: none

chore(deps): update dependency axios to v1.12.2 [security]
  package-lock.json
  package.json
Due: none

chore(deps): update dependency vite to v6.3.6 [security]
  package-lock.json
Due: none

build(deps-dev): remove commitizen
  package-lock.json
  package.json
Due: none

fix(deps): npm audit fix
  package-lock.json
  package.json
Due: none

chore(devenv): suppress output when entering shell
  devenv.nix
Due: none

chore(devenv): update inputs
  devenv.lock
  flake.lock
Due: none

chore(devenv): update node to v24
  devenv.nix
Due: none

chore(devenv): update php to v8.4
  devenv.nix
Due: none

chore(devenv): use devenv in .envrc
  .envrc
  .gitignore
Due: none

style(devenv): format flake
  flake.nix
Due: none

fix: change sidebar button type in responsive mode
  resources/js/Layouts/CalendarLayout.vue
  resources/sass/calendar.scss
Due: prettier --check, eslint, stylelint

build(deps): bump fullcalendar to latest version
  package-lock.json
  package.json
Due: none

fix(deps): update laravel/reverb
  composer.json
  composer.lock
Due: none

fix(deps): update paragonie/sodium_compat
  composer.lock
Due: none

fix(deps): update symfony/http-foundation
  composer.lock
Due: none

feat: create log entry if user email is empty
  app/Auth/AlmaUserProvider.php
Due: php -l, vendor/bin/phpcs

fix(deps): update package-lock.json
  package-lock.json
Due: none

fix(deps): run npm audit fix
  package-lock.json
Due: none

ci: remove rector
  .gitlab-ci.yml
Due: none

build: update devenv
  devenv.lock
  flake.lock
Due: none

fix(deps): update inertiajs/inertia-laravel
  composer.lock
Due: none

build: update devenv
  devenv.lock
Due: none

fix(deps): run composer upgrade
  composer.json
  composer.lock
Due: none

fix(deps): update Inertia client adapter
  package-lock.json
  package.json
Due: none

fix(deps): remove custom Telescope view
  Dockerfile
  resources/views/vendor/telescope/layout.blade.php
Due: php -l, vendor/bin/phpcs

refactor: admin index pages
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/ResourceController.php
  app/Http/Controllers/Admin/ResourceGroupController.php
  lang/de/admin.php
  lang/de/popup.php
  lang/en/admin.php
  lang/en/popup.php
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Components/Admin/Index/ActionLink.vue
  resources/js/Components/Admin/Index/LinkGroup.vue
  resources/js/Components/Admin/Index/RelationLink.vue
  resources/js/Components/Calendar/Calendar.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/UserGroups/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
  resources/js/Stores/AppStore.js
  routes/web.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

refactor: remove permission and permission group admin stuff
  app/Http/Controllers/Admin/PermissionController.php
  app/Http/Controllers/Admin/PermissionGroupController.php
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/PermissionGroups/Form.vue
  resources/js/Pages/Admin/PermissionGroups/Index.vue
  resources/js/Pages/Admin/Permissions/Form.vue
  resources/js/Pages/Admin/Permissions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/UserGroups/Index.vue
  routes/web.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix: add missing popup i18n for resource cloning
  lang/de/popup.php
  lang/en/popup.php
Due: php -l, vendor/bin/phpcs

feat!: add orderable resource groups
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Http/Controllers/HomeController.php
  app/Models/ResourceGroup.php
  database/migrations/2026_03_13_111755_add_order_to_resource_groups_table.php
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  routes/web.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

feat!: add orderable resources
  app/Http/Controllers/Admin/ResourceController.php
  app/Http/Controllers/ResourceController.php
  app/Models/Resource.php
  database/migrations/2026_03_13_115638_add_order_to_resources_table.php
  resources/js/Components/Admin/FormAction.vue
  resources/js/Composables/Calendar.js
  resources/js/Pages/Admin/Resources/Form.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Home.vue
  routes/web.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix: remove resource setting link
  resources/js/Pages/Admin/Resources/Index.vue
Due: prettier --check, eslint, stylelint

feat: add filter features to admin
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/Admin/ResourceGroupController.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Institutions/Form.vue
  resources/js/Pages/Admin/Institutions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Form.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/UserGroups/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

refactor(admin): add index page for mails
  resources/js/Pages/Admin/Mails/Index.vue
Due: prettier --check, eslint, stylelint

refactor(admin): add index page for settings
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Components/Admin/FormAction.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/Admin/Settings/Index.vue
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(renovate): update config
  renovate.json
Due: renovate-config-validator --strict

ci: create merge requests for dependabot branches
  .gitlab-ci.yml
Due: none

ci: remove pipeline source for dependabot merge request automation
  .gitlab-ci.yml
Due: none

Revert "ci: remove pipeline source for dependabot merge request automation"
  .gitlab-ci.yml
Due: none

ci: ignore npm scripts
  .gitlab-ci.yml
Due: none

Path conditions:
  prettier --check: any of: *.{css,js,scss,ts,vue}
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
  php -l: any of: *.php
  vendor/bin/phpcs: any of: *.php
  renovate-config-validator --strict: any of: renovate.json
