Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#349] Move location uri link to resource title
  lang/de/modal.php
  lang/en/modal.php
  resources/js/Components/ResourceInfo.vue
  resources/js/Components/UserHappening.vue
  resources/js/Composables/Calendar.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#351] Quotas not showing
  resources/js/Components/HappeningQuotas.vue
Due: stylelint, eslint

[#352] Use login name for user name
  app/Auth/AlmaUserProvider.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#353] HappeningInfo not updating when changing time slots
  resources/js/Components/Modals/HappeningModal.vue
Due: stylelint, eslint

[#354] Fix resource group factory title attribute
  database/factories/ResourceGroupFactory.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#355] Remove crazy happening output from HappeningModal
  resources/js/Components/Modals/HappeningModal.vue
Due: stylelint, eslint

[#348] Add system users
  app/Auth/AlmaUserProvider.php
  app/Http/Controllers/Admin/UserController.php
  app/Http/Requests/Admin/UserRequest.php
  app/Models/User.php
  app/Rules/CurrentPasswordRule.php
  database/migrations/2023_10_19_152201_add_is_system_user_to_users_table.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Users/Form.vue
  resources/js/Pages/Admin/Users/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#356] Save is_system_user information when creating/updating users
  app/Http/Controllers/Admin/UserController.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Users/Form.vue
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#214] Fix footer
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Dashboard.vue
Due: stylelint, eslint

[#321] Change links
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
Due: stylelint, eslint

[#335] Update resourceGroup name to title & other CSS
  resources/js/Components/Calendar.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Shared/CurrentLogin.vue
  resources/js/Shared/Navigation/BaseNavigation.vue
Due: stylelint, eslint

CSS fixes
  resources/js/Components/Calendar.vue
  resources/js/Components/Legend.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Home.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  resources/js/Shared/Navigation/BaseNavigation.vue
  resources/sass/main.scss
Due: stylelint, eslint

[#359] Add case-insensitive check when confirming
  app/Http/Controllers/HappeningController.php
  app/Http/Controllers/UserController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#357] Catch loadXML errors
  app/Auth/AlmaUserProvider.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#361] Add case-insensitive check when logging in
  app/Auth/AlmaUserProvider.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#365] Add link to institution logo in Start
  resources/js/Components/InstitutionCard.vue
Due: stylelint, eslint

[#366] Change legend toggle icon to arrows
  resources/js/Components/Legend.vue
Due: stylelint, eslint

[#367] Normalize verifier name to lower case
  app/Http/Requests/AddHappeningRequest.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#368] Show "back to overview" button in menu if only one institution exists
  app/Http/Controllers/HomeController.php
  app/Models/ResourceGroup.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#362] Prevent login form from multiple submit clicks
  resources/js/Composables/ModalActions.js
  resources/js/Stores/AuthStore.js
Due: eslint

[#369] Provide visual feedback when processing login attempt
  resources/js/Components/Modals/LoginModal.vue
Due: stylelint, eslint

[#370] Change error message for failed logins
  lang/de/auth.php
  lang/en/auth.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#371] Always display resource page buttons on the left
  resources/js/Components/Calendar.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Pages/Home.vue
Due: stylelint, eslint

[#372] Add favicon
  public/favicon.ico
  public/images/1797769.png
  resources/js/Layouts/MainLayout.vue
Due: stylelint, eslint

[#373] Use only app name as title on start page
  resources/js/Pages/Start.vue
  resources/js/Shared/PageHead.vue
Due: stylelint, eslint

[#374] Hide happenings of past dates in admin happening index
  resources/js/Pages/Admin/Happenings/Index.vue
Due: stylelint, eslint

[#376] Add resource location icon
  resources/js/Components/ResourceInfo.vue
Due: stylelint, eslint

[#377] Anonymize past happenings
  app/Console/Commands/AnonymizeHappeningUsersCommand.php
  app/Console/Kernel.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#381] Institution admin can't delete resource closing
  app/Policies/ClosingPolicy.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#379] Missing textkey for admin.closings.types.resource
  lang/de/admin.php
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#384] Reindex returning array in Admin->getHappenings
  app/Http/Controllers/Admin/HappeningController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#385] Drop email unique constraint
  database/migrations/2023_11_29_100806_drop_email_unique_contraint_from_users_table.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#386] Add missing text key admin.users.index.table.actions.create
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#382] Fix English text keys for resource groups in admin UI
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#383] Institution admin can't see roles
  app/Policies/RolePolicy.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[#380] Add is_logged_in column to admin user list
  app/Http/Controllers/Admin/UserController.php
  app/Http/Kernel.php
  app/Http/Middleware/CacheUserActivity.php
  app/Models/User.php
  lang/de/admin.php
  lang/en/admin.php
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

[#387] Users are not deleted if they do not log out
  app/Console/Commands/RemoveUsersCommand.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

[MAINTENANCE] npm audit fix
  package-lock.json
Due: none

[#388] Add English textkeys for admin.settings.form.*
  lang/en/admin.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

Path conditions:
  stylelint: ((any of: *.css) or (any of: *.scss)) or (any of: *.vue)
  eslint: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  php -l: any of: *.php
  vendor/bin/phpcs --ignore=*.blade.php: any of: *.php
