Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

.lintstagedrc.yml:

"*.css":
  - "stylelint"

"*.js":
  - "eslint"

"*.scss":
  - "stylelint"

"*.ts":
  - "eslint"

"*.vue":
  - "eslint"
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs --ignore=*.blade.php"

chore(compose): proxy mailpit
  .docker/caddy/Caddyfile
  docker-compose.yml
Due: none

ci: avoid duplicate pipelines
  .gitlab-ci.yml
Due: none

test: add basic browser tests
  .docker/testing-extends.yml
  .env.dusk.compose
  .gitlab-ci.yml
  app/Library/Utility.php
  composer.json
  composer.lock
  database/factories/InstitutionFactory.php
  database/factories/ResourceFactory.php
  database/factories/ResourceGroupFactory.php
  database/factories/UserFactory.php
  docker-compose.testing.yml
  tests/Browser/CalendarPageTest.php
  tests/Browser/Pages/HomePage.php
  tests/Browser/Pages/Page.php
  tests/Browser/StartPageTest.php
  tests/Browser/console/.gitignore
  tests/Browser/screenshots/.gitignore
  tests/Browser/source/.gitignore
  tests/DuskTestCase.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

ci: login to docker hub
  .gitlab-ci.yml
Due: none

chore: configure devenv via seperate dotenv file
  .env.devenv
  .envrc
  app/Providers/TelescopeServiceProvider.php
  devenv.nix
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: fallback to app scheme for websockets
  resources/js/echo.js
Due: eslint

build(deps): update composer dependencies
  composer.lock
Due: none

chore: update composer.json metadata
  composer.json
Due: none

chore: remove obsolete import/export scripts
  export_i18n.sh
  import_i18n.sh
Due: none

build(deps): update composer lock file
  composer.lock
Due: none

build: add PrimeVue component library
  .gitignore
  package-lock.json
  package.json
  resources/js/app.js
  resources/sass/main.scss
  tailwind.config.cjs
  vite.config.mjs
Due: stylelint, eslint

chore(css): remove empty file
  resources/css/app.css
Due: stylelint

style: fix formatting
  resources/js/Components/Admin/BusinessHourField.vue
  resources/js/Components/Calendar.vue
  resources/js/Components/HappeningQuotas.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/Legend.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/ResourceInfo.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Admin/Dashboard.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/TerminalView.vue
  resources/js/Shared/CurrentLogin.vue
  resources/js/Shared/Navigation/AdminNavigation.vue
  resources/js/Shared/Navigation/BaseNavigation.vue
  resources/js/Shared/Navigation/NavigationMenu.vue
  resources/js/bootstrap.js
  resources/sass/main.scss
  resources/sass/variables.scss
Due: stylelint, eslint

style(ResourceController.php): fix formatting
  app/Http/Controllers/ResourceController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor(echo.js): extract base url
  resources/js/echo.js
Due: eslint

refactor(MainLayout.vue): remove unused variables
  resources/js/Layouts/MainLayout.vue
Due: stylelint, eslint

fix: make telescope work on non-root application
  resources/views/vendor/telescope/layout.blade.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

chore: disable telescope filters in demo environment
  app/Providers/TelescopeServiceProvider.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: remove absolute paths
  app/Http/Controllers/ResourceController.php
  resources/js/Components/Calendar.vue
  resources/js/Composables/Calendar.js
  resources/js/Layouts/MainLayout.vue
  resources/js/Shared/Spinner.vue
  resources/js/echo.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: replace binarycabin/laravel-uuid
  app/Library/Traits/UUIDIsPrimaryKey.php
  app/Models/BusinessHour.php
  app/Models/Closing.php
  app/Models/Happening.php
  app/Models/Institution.php
  app/Models/MailContent.php
  app/Models/MailType.php
  app/Models/Permission.php
  app/Models/PermissionGroup.php
  app/Models/Resource.php
  app/Models/ResourceGroup.php
  app/Models/Role.php
  app/Models/Setting.php
  app/Models/User.php
  composer.json
  composer.lock
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix: remove calls to non-existing method findByUUid()
  app/Http/Controllers/Admin/ClosingController.php
  app/Http/Controllers/Admin/SettingController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: use PrimeVue dialog
  package-lock.json
  package.json
  resources/js/Components/Modals/ConfirmModal.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/Modals/LoginModal.vue
  resources/js/Components/Modals/ModalCloseButton.vue
  resources/js/Components/Modals/ResourceInfoModal.vue
  resources/js/Shared/CurrentLogin.vue
  resources/js/Shared/XModal.vue
  resources/js/Stores/Modal.ts
  tailwind.config.cjs
Due: stylelint, eslint

refactor: remove unused code
  app/Http/Controllers/Admin/ClosingController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: use PrimeVue for toasts
  lang/de/toast.php
  lang/en/toast.php
  package-lock.json
  package.json
  resources/js/Components/HappeningToast.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Stores/AuthStore.js
  resources/js/Stores/ToastStore.js
  resources/js/app.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: reorder vue app setup
  resources/js/app.js
Due: eslint

refactor(footer): use addEventListener
  resources/js/Layouts/MainLayout.vue
Due: stylelint, eslint

fix(BaseNavigation.vue): set alt text for institution logo
  resources/js/Shared/Navigation/BaseNavigation.vue
Due: stylelint, eslint

refactor(NavLink.vue): add default value for prop
  resources/js/Shared/NavLink.vue
Due: stylelint, eslint

refactor(app.js): remove unused/auto-imported PrimeVue components
  resources/js/app.js
Due: eslint

refactor(CreateLink.vue): replaced Inertia create link with PrimeVue button
  resources/js/Components/Admin/Index/CreateLink.vue
Due: stylelint, eslint

style: sort css properties with prettier-plugin-css-order
  .prettierrc.json
  package-lock.json
  package.json
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Components/Calendar.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/Legend.vue
  resources/js/Components/UserHappenings.vue
  resources/js/Layouts/MainLayout.vue
  resources/js/Pages/Home.vue
  resources/js/Shared/Brand.vue
  resources/js/Shared/CurrentLogin.vue
  resources/js/Shared/LangSwitch.vue
  resources/js/Shared/Navigation/BaseNavigation.vue
  resources/js/Shared/Navigation/NavigationMenu.vue
  resources/js/Shared/PageHead.vue
  resources/sass/main.scss
Due: stylelint, eslint

refactor: remove unused variables from settings form
  resources/js/Pages/Admin/Settings/Form.vue
Due: stylelint, eslint

ci: add jobs for eslint, prettier and stylelint
  .gitlab-ci.yml
Due: none

ci: run pipeline only for merge requests
  .gitlab-ci.yml
Due: none

chore(deps): update typescript-eslint
  package-lock.json
  package.json
Due: none

refactor: replace toggle switch button with PrimeVue
  resources/js/Components/UserHappenings.vue
Due: stylelint, eslint

refactor(Calendar.vue): rename stuff-methods to something meaningful
  resources/js/Components/Calendar.vue
Due: stylelint, eslint

feat: show resource group description in modal
  resources/js/Components/Calendar.vue
  resources/js/Components/Modals/ResourceGroupInfoModal.vue
  resources/js/Composables/ModalActions.js
Due: stylelint, eslint

docs: remove unnecessary comments
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/Modals/ResourceInfoModal.vue
Due: stylelint, eslint
