Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

.lintstagedrc.yml:

"*.{css,js,scss,ts,vue}":
  - "prettier --check"

"*.{js,ts,vue}":
  - "eslint"

"*.{css,scss,vue}":
  - "stylelint"

"*.php":
  - "php -l"
  - "vendor/bin/phpcs"

"renovate.json":
  - renovate-config-validator --strict

test: share happy-dom environment via vmThreads pool
  vitest.config.ts
Due: prettier --check, eslint

test: isolate browser frontend build
  app/Providers/AppServiceProvider.php
  config/roomz.php
  scripts/BrowserTestRunner.php
  vite.config.ts
Due: prettier --check, eslint, php -l, vendor/bin/phpcs

test: pass --no-reload to artisan serve in browser test runner
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

chore: harden compose service exposure
  compose.yaml
Due: none

chore(nginx): harden proxy headers
  deployment/nginx.conf
Due: none

test: pin the browser runner queue at sync
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

test: allow pinning the browser test ports
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

ci: reuse the prebuilt frontend in the browser job
  .gitlab-ci.yml
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

test: run the browser suite with a single worker by default
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

ci: serialise the browser job with a resource group
  .gitlab-ci.yml
Due: none

fix(vue): use defineModel() in TranslatableFormInput
  resources/js/Components/Admin/TranslatableFormInput.test.ts
  resources/js/Components/Admin/TranslatableFormInput.vue
Due: prettier --check, eslint, stylelint

chore(vue): remove unused Paginate and SortFilterTable composables
  resources/js/Composables/Paginate.test.ts
  resources/js/Composables/Paginate.ts
  resources/js/Composables/SortFilterTable.test.ts
  resources/js/Composables/SortFilterTable.ts
Due: prettier --check, eslint

refactor(vue): use typed defineProps generics throughout
  resources/js/Components/Admin/DashboardCard.vue
  resources/js/Components/Admin/Index/BooleanField.vue
  resources/js/Components/Admin/Index/CreateLink.vue
  resources/js/Components/Admin/IndexHeaderField.vue
  resources/js/Components/Admin/IndexLayout.vue
  resources/js/Components/Admin/LabeledCheckbox.vue
  resources/js/Components/Admin/Paginator.vue
  resources/js/Components/Admin/SortDirectionIcon.vue
  resources/js/Components/HappeningInfo.vue
  resources/js/Components/InstitutionCard.vue
  resources/js/Components/Modals/ConfirmModal.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/Modals/LoginModal.vue
  resources/js/Components/Modals/ModalAlert.vue
  resources/js/Components/Modals/ResourceGroupInfoModal.vue
  resources/js/Components/Modals/ResourceInfoModal.vue
  resources/js/Components/ResourceInfo.vue
  resources/js/Components/Sidebar/Sidebar.vue
  resources/js/Components/Sidebar/SidebarBlock.vue
  resources/js/Components/Sidebar/SidebarButton.vue
  resources/js/Components/Sidebar/SidebarLabel.vue
  resources/js/Components/UserHappening/FancyDate.vue
  resources/js/Components/UserHappening/UserHappeningData.vue
  resources/js/Components/UserHappening/UserHappeningStatus.vue
  resources/js/Composables/ModalActions.ts
  resources/js/Pages/Admin/AppSettings/Edit.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/Start.test.ts
  resources/js/Shared/Form/FormInput.vue
  resources/js/Shared/Form/FormLabel.vue
  resources/js/Shared/Form/FormLayout.vue
  resources/js/Shared/Form/FormValidationError.vue
  resources/js/Shared/Label.vue
  resources/js/Shared/Navigation/ExternalLink.vue
  resources/js/Shared/Navigation/InternalLink.vue
  resources/js/Shared/Navigation/NavigationBar.vue
  resources/js/Shared/Spinner.vue
  resources/js/Stores/AppStore.ts
  resources/js/Stores/HappeningStore.ts
  resources/js/Types/Admin.ts
Due: prettier --check, eslint, stylelint

refactor(auth): rely on policy auto-discovery convention
  app/Providers/AuthServiceProvider.php
Due: php -l, vendor/bin/phpcs

refactor(models): migrate casts to the casts() method
  app/Models/BusinessHour.php
  app/Models/Closing.php
  app/Models/Happening.php
  app/Models/Institution.php
  app/Models/MailContent.php
  app/Models/Resource.php
  app/Models/ResourceGroup.php
  app/Models/User.php
  app/Models/UserGroupUser.php
  phpstan.neon
Due: php -l, vendor/bin/phpcs

fix(navigation): make breadcrumb items actual links
  resources/js/Shared/Breadcrumbs.test.ts
  resources/js/Shared/Breadcrumbs.vue
Due: prettier --check, eslint, stylelint

fix(privacy): remove placeholder privacy statement page
  app/Http/Controllers/HomeController.php
  lang/de/privacy_statement.php
  lang/en/privacy_statement.php
  resources/js/Pages/PrivacyStatement.vue
  resources/js/Shared/Breadcrumbs.test.ts
  resources/js/Shared/Breadcrumbs.vue
  routes/web.php
  tests/Feature/Http/Auth/SessionTest.php
  tests/Unit/Http/PublicSessionControllerUnitBranchesTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(navigation): align auth entry with other menu entries
  resources/js/Shared/Navigation/NavigationBar.vue
Due: prettier --check, eslint, stylelint

fix(telescope): register the service provider only when installed
  app/Providers/AppServiceProvider.php
  config/app.php
Due: php -l, vendor/bin/phpcs

ci: add review apps
  .gitlab-ci.yml
  README.md
  deployment/nginx.conf
  review/README.md
  review/gitlab-ci.yml
  review/nginx/http.conf
  review/nginx/server.conf
  review/review-app.sh
  review/review.env.template
  review/systemd/roomz-queue@.service
  review/systemd/roomz-reverb@.service
  review/systemd/roomz-scheduler@.service
  review/test-review-app.sh
  scripts/deploy.sh
Due: none

feat(broadcasting): make the websocket path configurable
  resources/js/echo.test.ts
  resources/js/echo.ts
Due: prettier --check, eslint

fix(config): get session path from env
  config/session.php
Due: php -l, vendor/bin/phpcs

chore: split Playwright into its own devshell
  .envrc
  flake.nix
  scripts/BrowserTestRunner.php
Due: php -l, vendor/bin/phpcs

ci: push caches only when a lock file moved, and recover when one is gone
  .gitlab-ci.yml
Due: none

ci: serve review apps under Apache
  deployment/apache.conf
  review/README.md
  review/apache/review.conf
  review/test-review-app.sh
Due: none

ci: give each job only the caches it needs
  .gitignore
  .gitlab-ci.yml
Due: none

chore: keep the gitlab-ci-local overlay in step
  .gitlab-ci-local.yml
Due: none

docs: drop review app notes for earlier setups
  review/README.md
Due: none

ci: let REVIEW_ROOT relocate the review app tree
  review/README.md
  review/gitlab-ci.yml
Due: none

ci: tear down review apps of deleted branches
  review/README.md
  review/gitlab-ci.yml
  review/test-prune-review-apps.sh
  scripts/prune-review-apps.sh
Due: none

ci: keep the review app checks in their own directory
  review/README.md
  review/tests/test-prune-review-apps.sh
  review/tests/test-review-app.sh
Due: none

ci: run jobs in prebuilt images instead of a cached Nix store
  .gitignore
  .gitlab-ci-local.yml
  .gitlab-ci.yml
  flake.nix
Due: none

ci: keep unrelated schedules from rebuilding images and caches
  .gitlab-ci.yml
Due: none

ci: deploy only from main or from a dedicated deploy schedule
  .gitlab-ci.yml
Due: none

ci: mirror the flake.lock update PR to GitLab
  .github/workflows/update-flake-lock.yml
Due: none

ci: give flake.lock update commits a conventional message
  .github/workflows/update-flake-lock.yml
Due: none

chore(deps): bump playwright to 1.63.0 to match nixpkgs
  package-lock.json
  package.json
Due: none

ci: match the npm playwright pin to nixpkgs on flake.lock updates
  .github/workflows/update-flake-lock.yml
  flake.nix
Due: none

ci: tag CI images by flake hash instead of main
  .gitlab-ci.yml
Due: none

ci: key dependabot merge requests on the GitHub pull request
  scripts/dependabot-merge-request.sh
  scripts/stale-pull-requests.sh
Due: none
