Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

chore: add prettier pre-commit hook
  .lintstagedrc.yml
Due: none

ci: fix jobs using node:alpine image
  .gitlab-ci.yml
Due: none

fix(Resource.php): only add to quotas if not closed
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

docs(Resource.php): remove obsolete FIXME comments
  app/Models/Resource.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

docs(HandleInertiaRequests.php): remove commented-out code
  app/Http/Middleware/HandleInertiaRequests.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

docs(WeekDay.php): remove FIXME
  app/Models/WeekDay.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor(BusinessHour.php): add type to relationship
  app/Models/BusinessHour.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

docs: remove comments in favor of types
  app/Models/BusinessHour.php
  app/Models/WeekDay.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

style: fix php formatting
  .phpcs.xml
  app/Events/ClosingCreatedEvent.php
  app/Events/ClosingUpdatedEvent.php
  app/Events/HappeningCreatedEvent.php
  app/Events/HappeningDeletedEvent.php
  app/Events/HappeningUpdatedEvent.php
  app/Events/HappeningVerifiedEvent.php
  app/Events/UnverifiedHappeningRemovedBySchedulerEvent.php
  app/Http/Controllers/Admin/HappeningController.php
  app/Http/Controllers/ResourceController.php
  app/Http/Requests/Admin/PermissionRequest.php
  app/Http/Requests/Admin/RoleRequest.php
  app/Models/BusinessHour.php
  app/Models/Institution.php
  app/Models/MailContent.php
  app/Models/MailType.php
  app/Models/Resource.php
  app/Models/WeekDay.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/logging.php
  config/session.php
  routes/channels.php
  tests/CreatesApplication.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: simplify event subscribers
  app/Events/ClosingCreatedEvent.php
  app/Events/ClosingEvent.php
  app/Events/ClosingUpdatedEvent.php
  app/Listeners/ClosingEventSubscriber.php
  app/Listeners/HappeningEventSubscriber.php
  app/Mail/ClosingCreatedMail.php
  app/Mail/ClosingMail.php
  app/Mail/HappeningMail.php
  resources/views/emails/markdown/mail.blade.php
  resources/views/emails/text/mail.blade.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: soft delete closings
  app/Console/Kernel.php
  app/Models/Closing.php
  database/migrations/2024_07_19_152836_soft_delete_closings.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat: send mails when closings are deleted
  app/Events/ClosingDeletedEvent.php
  app/Http/Controllers/Admin/ClosingController.php
  app/Listeners/ClosingEventSubscriber.php
  database/seeders/MailTypeSeeder.php
  lang/de/admin.php
  lang/de/email.php
  lang/en/admin.php
  lang/en/email.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

fix(ClosingEventSubscriber.php): check if mail content exists
  app/Listeners/ClosingEventSubscriber.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

chore(deps): security updates
  package-lock.json
Due: none

fix: add text keys for resource group info modal
  lang/de/modal.php
  lang/en/modal.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor(HappeningForm.vue): use grid for happening labels
  resources/js/Components/Modals/HappeningForm.vue
Due: stylelint, eslint

refactor: remove empty content from resource info modal
  lang/de/modal.php
  lang/en/modal.php
  resources/js/Components/Modals/ResourceInfoModal.vue
  resources/js/Composables/ModalActions.js
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix(XModal.vue): set width for modal content
  resources/js/Shared/XModal.vue
Due: stylelint, eslint

refactor: simplify vertical space handling in modal
  resources/js/Components/Modals/ConfirmModal.vue
  resources/js/Components/Modals/HappeningForm.vue
  resources/js/Components/Modals/HappeningModal.vue
  resources/js/Components/Modals/LoginModal.vue
  resources/js/Components/Modals/ResourceGroupInfoModal.vue
  resources/js/Components/Modals/ResourceInfoModal.vue
  resources/js/Components/ResourceInfo.vue
Due: stylelint, eslint

fix(XModal.vue): restore space above buttons
  resources/js/Shared/XModal.vue
Due: stylelint, eslint

fix: check app url before fixing telescope path
  resources/views/vendor/telescope/layout.blade.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

feat!: sortable and reorderable institutions
  app/Http/Controllers/Admin/InstitutionController.php
  app/Http/Controllers/HomeController.php
  app/Http/Requests/Admin/InstitutionOrderRequest.php
  app/Models/Institution.php
  database/migrations/2024_08_28_095822_add_order_to_institutions_table.php
  resources/js/Pages/Admin/Institutions/Index.vue
  routes/web.php
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

fix(Roles/Index.vue): import missing component LinkGroup
  resources/js/Pages/Admin/Roles/Index.vue
Due: stylelint, eslint

refactor(TranslatableFormField.vue): remove margin
  resources/js/Components/Admin/TranslatableFormField.vue
Due: stylelint, eslint

refactor: extract components from form pages
  app/Http/Controllers/Admin/MailController.php
  resources/js/Pages/Admin/Closings/Form.vue
  resources/js/Pages/Admin/Happenings/Form.vue
  resources/js/Pages/Admin/Institutions/Form.vue
  resources/js/Pages/Admin/Mails/Form.vue
  resources/js/Pages/Admin/PermissionGroups/Form.vue
  resources/js/Pages/Admin/Permissions/Form.vue
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  resources/js/Pages/Admin/Resources/Form.vue
  resources/js/Pages/Admin/Roles/Form.vue
  resources/js/Pages/Admin/Settings/Form.vue
  resources/js/Pages/Admin/Users/Form.vue
  resources/js/Shared/Form/FormInput.vue
  resources/js/Shared/Form/FormLabel.vue
  resources/js/Shared/Form/FormLayout.vue
  resources/js/Shared/Form/FormSelect.vue
Due: stylelint, eslint, php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: extract components from index pages
  resources/js/Components/Admin/IndexHeaderField.vue
  resources/js/Components/Admin/IndexLayout.vue
  resources/js/Components/Admin/IndexRow.vue
  resources/js/Components/Admin/IndexRowField.vue
  resources/js/Components/Admin/IndexRowHeaderField.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/PermissionGroups/Index.vue
  resources/js/Pages/Admin/Permissions/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Pages/Admin/Settings/Index.vue
  resources/js/Pages/Admin/Users/Index.vue
Due: stylelint, eslint

chore(deps): security updates
  package-lock.json
  package.json
Due: none

build(deps): fix dependabot alert
  package-lock.json
Due: none

build(deps): fix dependabot alert
  composer.lock
Due: none

ci: pin docker images
  .gitlab-ci.yml
Due: none

build(phpcs): add sniff to detect double quotes
  .phpcs.xml
Due: none

refactor: fix phpcs warnings
  app/Models/User.php
  database/migrations/0000_00_00_000000_create_websockets_statistics_entries_table.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

ci: run phpcs
  .gitlab-ci.yml
Due: none

refactor: remove static controller methods
  app/Http/Controllers/ResourceController.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

refactor: run rector
  app/Console/Commands/CreateInstitutionCommand.php
  app/Events/HappeningBroadcastEvent.php
  app/Http/Controllers/Admin/HappeningController.php
  app/Library/IpChecker.php
  app/Library/Utility.php
  app/Policies/RolePolicy.php
  app/Rules/CurrentPasswordRule.php
  app/Rules/UniqueResourceGroupAttributeRule.php
  app/Services/AdminLoggingService.php
  database/seeders/InstitutionSeeder.php
Due: php -l, vendor/bin/phpcs --ignore=*.blade.php

Path conditions:
  stylelint: ((any of: *.css) or (any of: *.scss)) or (any of: *.vue)
  eslint: ((any of: *.js) or (any of: *.ts)) or (any of: *.vue)
  php -l: any of: *.php
  vendor/bin/phpcs --ignore=*.blade.php: any of: *.php
