Repository tuub/bibroomz: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs, renovate-config-validator --strict

ci: scan the whole history for secrets on a schedule
  .gitlab-ci.yml
Due: none

ci: skip mirrored branches whose pull request is already closed
  scripts/dependabot-merge-request.sh
Due: none

ci: report test results as JUnit
  .gitlab-ci.yml
Due: none

ci: check that each deployment answers
  .gitlab-ci.yml
  review/gitlab-ci.yml
Due: none

ci: measure Vitest coverage with a floor
  .gitignore
  .gitlab-ci.yml
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --check, eslint

fix(console): resolve institution week days by day of week
  app/Services/Console/CreateInstitutionAction.php
  tests/Unit/Services/Console/CreateInstitutionActionTest.php
Due: php -l, vendor/bin/phpcs

ci: check that the lock files match their manifests
  .gitlab-ci.yml
Due: none

ci: run mutation tests on a schedule
  .gitlab-ci.yml
Due: none

ci: lint shell scripts with shellcheck
  .gitlab-ci.yml
  flake.nix
  scripts/db-dump.sh
  scripts/db-restore.sh
  scripts/setup-db-dump-user.sh
Due: none

ci: enforce a code coverage floor
  composer.json
Due: none

ci: check PHP type coverage
  .gitlab-ci.yml
  composer.json
Due: none

ci: audit production dependencies for known vulnerabilities
  .gitlab-ci.yml
Due: none

ci: delete pull request branches on GitHub once closed
  .github/workflows/delete-pull-request-branches.yml
Due: none

ci: run the test suite against MariaDB
  .gitlab-ci.yml
Due: none

test: make database assertions hold on MariaDB
  tests/Feature/Http/Admin/ClosingTest.php
  tests/Unit/Models/HappeningModelTest.php
  tests/Unit/Models/InstitutionTest.php
  tests/Unit/Models/SupportingModelsTest.php
  tests/Unit/Services/Admin/BusinessHourSynchronizerTest.php
Due: php -l, vendor/bin/phpcs

ci: lint the Dockerfile with hadolint
  .gitlab-ci.yml
  Dockerfile
  flake.nix
Due: none

ci: build and start the compose stack on a schedule
  .gitlab-ci.yml
  scripts/check-compose-stack.sh
Due: none

feat(calendar): replace premium scheduler with MIT-only resource grid
  app/Services/Happenings/CalendarEntryPresenter.php
  package-lock.json
  package.json
  resources/css/calendar.css
  resources/css/main.css
  resources/js/Components/Calendar/Calendar.test.ts
  resources/js/Components/Calendar/Calendar.vue
  resources/js/Components/Calendar/ResourceGrid.test.ts
  resources/js/Components/Calendar/ResourceGrid.vue
  resources/js/Composables/Calendar.test.ts
  resources/js/Composables/Calendar.ts
  resources/js/Composables/ResourceGridCalendar.test.ts
  resources/js/Composables/ResourceGridCalendar.ts
  resources/js/Pages/Home.test.ts
  resources/js/Pages/Home.vue
  resources/js/Pages/TerminalView.test.ts
  resources/js/Pages/TerminalView.vue
  tests/Browser/Support.php
  tests/Feature/Http/Public/ResourceTest.php
  tests/Unit/Services/Happenings/CalendarEntryPresenterTest.php
  vite.config.ts
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(i18n): type the language resolver against laravel-vue-i18n 2.9
  resources/js/app.ts
  resources/js/stripEmpty.test.ts
  resources/js/stripEmpty.ts
Due: prettier --check, eslint

test(admin): cover the PopupLink confirm flow
  resources/js/Components/Admin/Index/PopupLink.test.ts
Due: prettier --check, eslint

ci: keep pruning when a mirror branch is already gone
  scripts/prune-mirror-branches.sh
Due: none

ci: skip rebase comments on merged dependabot pull requests
  .github/workflows/dependabot-rebase.yml
Due: none

ci: delete stopped review environments instead of scheduling them
  review/README.md
  review/tests/test-prune-review-apps.sh
  scripts/prune-review-apps.sh
Due: none

fix(admin): bind the resource group form to its context institution
  app/Http/Controllers/Admin/ResourceGroupController.php
  app/Services/Admin/ResourceGroupAdminService.php
  app/Services/ResourceGroupService.php
  resources/js/Pages/Admin/ResourceGroups/Form.vue
  tests/Feature/Http/Admin/ClosingTest.php
  tests/Feature/Http/Admin/ResourceGroupTest.php
  tests/Unit/Services/Admin/ResourceGroupAdminServiceTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

chore(deps): pin primeicons to its last MIT release
  .github/dependabot.yml
  package-lock.json
  package.json
  renovate.json
Due: renovate-config-validator --strict

chore(deps): pin remixicon to its last Apache-2.0 release
  .github/dependabot.yml
  package-lock.json
  package.json
  renovate.json
Due: renovate-config-validator --strict

feat(telescope): require it in production and gate it like Pulse
  app/Providers/AppServiceProvider.php
  app/Providers/AuthServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  phpunit.xml
  tests/Unit/Providers/AuthServiceProviderTest.php
Due: php -l, vendor/bin/phpcs

build: declare npm packages on the side of the bundle they are on
  eslint.config.ts
  package-lock.json
  package.json
Due: prettier --check, eslint

ci: deploy staging and demo without development dependencies
  .gitlab-ci.yml
  README.md
Due: none

chore(rector): let the installed laravel version pick the upgrade rules
  database/factories/InstitutionFactory.php
  database/factories/ResourceFactory.php
  database/factories/ResourceGroupFactory.php
  rector.php
Due: php -l, vendor/bin/phpcs

chore(renovate): hold back every package dependabot holds back
  renovate.json
Due: renovate-config-validator --strict

build(docker): build the image without the development dependencies
  .dockerignore
  Dockerfile
  README.md
  compose.yaml
Due: none

ci: fail the lint and test jobs on deprecated code
  composer.json
  composer.lock
  phpstan.neon
  phpunit.xml
Due: none

ci: roll every migration back and run it again
  .gitlab-ci.yml
  database/migrations/2023_05_23_122741_create_business_hour_week_day_table.php
  database/migrations/2023_08_18_204627_create_institution_week_day_table.php
  database/migrations/2023_09_01_072600_create_permission_groups_table.php
  database/migrations/2023_10_14_093650_alter_settings_table_polymorphic.php
  database/migrations/2026_09_04_120000_add_indexes_to_happenings_table.php
  rector.php
  scripts/check-migrations.sh
Due: php -l, vendor/bin/phpcs

feat(credits): disclose and validate third-party licenses
  .gitignore
  .gitlab-ci.yml
  .ort.yml
  .stylelintignore
  app/Http/Controllers/HomeController.php
  lang/de/site_credits.php
  lang/en/site_credits.php
  ort/config.yml
  ort/license-classifications.yml
  ort/rules.kts
  package-lock.json
  package.json
  resources/js/Pages/SiteCredits.test.ts
  resources/js/Pages/SiteCredits.vue
  resources/js/credits.json
  tests/Feature/Http/Auth/SessionTest.php
  tests/Unit/LangConsistencyTest.php
  tsconfig.json
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

feat(credits): add a Vite plugin for third-party license reports
  .github/workflows/publish-plugin.yml
  .gitignore
  .gitlab-ci.yml
  .prettierignore
  eslint.config.ts
  package-lock.json
  package.json
  packages/vite-plugin-third-party-notices/LICENSE
  packages/vite-plugin-third-party-notices/README.md
  packages/vite-plugin-third-party-notices/index.test.ts
  packages/vite-plugin-third-party-notices/node-only.typecheck.ts
  packages/vite-plugin-third-party-notices/pack.test.ts
  packages/vite-plugin-third-party-notices/package.json
  packages/vite-plugin-third-party-notices/src/index.ts
  packages/vite-plugin-third-party-notices/tsconfig.build.json
  packages/vite-plugin-third-party-notices/tsconfig.json
  scripts/pack-package.ts
  scripts/release-package.sh
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: prettier --check, eslint

fix(auth): enforce scoped admin permissions
  app/Http/Controllers/Admin/HappeningController.php
  app/Http/Controllers/Admin/ResourceController.php
  app/Policies/HappeningPolicy.php
  app/Policies/ResourcePolicy.php
  resources/js/Components/Admin/Index/CreateLink.test.ts
  resources/js/Components/Admin/Index/CreateLink.vue
  resources/js/Pages/Admin/Closings/Index.vue
  resources/js/Pages/Admin/Happenings/Index.vue
  resources/js/Pages/Admin/IndexPermissions.test.ts
  resources/js/Pages/Admin/Mails/Index.vue
  resources/js/Pages/Admin/ResourceGroups/Index.vue
  resources/js/Pages/Admin/Resources/Index.vue
  resources/js/Pages/Admin/Roles/Index.vue
  resources/js/Stores/AuthStore.test.ts
  resources/js/Types/Admin.ts
  tests/Feature/Http/Admin/HappeningTest.php
  tests/Feature/Http/Admin/ResourceTest.php
  tests/Unit/Http/Admin/ResourceControllerTest.php
  tests/Unit/Http/Controllers/Admin/AdminHappeningControllerAuthorizationTest.php
  tests/Unit/Http/Controllers/Admin/ResourceControllerAuthorizationTest.php
  tests/Unit/Policies/CorePoliciesTest.php
  tests/Unit/Policies/HappeningPolicyTest.php
Due: prettier --check, eslint, stylelint, php -l, vendor/bin/phpcs

fix(docker): include workspace in build context
  .dockerignore
Due: none

Path conditions:
  prettier --check: any of: *.{css,js,scss,ts,vue}
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
  php -l: any of: *.php
  vendor/bin/phpcs: any of: *.php
  renovate-config-validator --strict: any of: renovate.json
